- if term.signup_month?
  %p
    It is great to be connected to others and grow closer to God through a Life Group
  %p   
    Please keep checking back if you don't see groups yet.
  %p
    %strong Please sign up even if you're planning on going to your existing group!
    
