.col-sm-6{:id => "talk-#{talk.id}"}
  .panel.wv-talk-item
    .panel-heading
      = talk.full_name
    .panel-body
      = talk.date.strftime("%a %d %b %Y")
      %br
      = talk.who
      %br
      %br
      - if talk.download_url
        %a.btn.btn-success{:role => 'button', :href => talk.download_url} download
      - else
        %a.btn.btn-default{:disabled => 'disabled', :role => 'button'} coming soon
      - if talk.slides_url
        %a.btn.btn-default{:role => 'button', :href => talk.slides_url} slides
