.col-sm-3{:id => "talk-{{ id }}"}
  .panel
    .panel-body
      %strong
        {{ date }}
        %br
        {{ title }}
      %br
      {{ who }}
      %br
      %br
      {{#download_url}}
      %a.btn.btn-primary{:role => 'button', :href => '{{ download_url }}'} download
      {{/download_url}}
      {{^download_url}}
      %a.btn.btn-default{:disabled => 'disabled', :role => 'button'} coming soon
      {{/download_url}}
      {{#slides_url}}
      %a.btn.btn-default{:role => 'button', :href => '{{ slides_url }}'} slides
      {{/slides_url}}


