.col-sm-4{:id => "talk-{{ id }}", :'data-sort' => '{{ ms }}'}
  .panel.wv-talk-item
    .panel-heading
      {{#series_name}}{{series_name}}:
      %br
      {{/series_name}}{{ title }}
    .panel-body
      {{ date }}
      %br
      {{ who }}
      %br
      %br
      {{#download_url}}
      %a.btn.btn-success{:role => 'button', :href => '{{ download_url }}'} download
      {{/download_url}}
      {{^download_url}}
      %a.btn.btn-default{:disabled => 'disabled', :role => 'button'} coming soon
      {{/download_url}}
      {{#slides_url}}
      %a.btn.btn-default{:role => 'button', :href => '{{ slides_url }}'} slides
      {{/slides_url}}


