#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section.white.wv-students
  .shadow
  .container
    .row
      .col-xs-12
        %h1 building for the future
    .row
      .col-md-4
        %p
          Winchester Vineyard is a church of people who are getting to know Jesus better and bringing hope and life into our communities. Since the church started in 1994, many lives have been touched by God's love through Sunday Services, Life Groups and the many projects we have been involved in over the years.

      .col-md-8
        %img{:src => "/images/venue-front.jpg"}
    .row
      .col-xs-12
        %p Our building has been a wonderful base from which people and communities have been impacted. Having bought it in 2001 and upgraded it in 2005, we believe that the time has now come to further invest in the centre to make it an even better resource base to achieve our goals of bringing hope and life to Winchester and the surrounding communities.
        %p
          %a.btn.btn-lg.btn-success{:href => 'https://s3-eu-west-1.amazonaws.com/winchester-vineyard-website-assets/uploads/venue-plans-latest.pdf'} Download the plans (6MB PDF) &raquo;
    .row
      .col-xs-12
        %h1 bringing hope and life…
    .row
      .col-md-6
        %h2 as a welcoming community
    .row
      .col-md-6
        %p
          Improving the visual impact of the front of the building will make our church much more identifiable and help guests to find us easily.  Creating a new front door and reception area will help us give a much better welcome to everyone who comes into our building on a Sunday and during the week.
      .col-md-6
        %img{:src => "/images/venue-front-facing.png"}
    .row.padded
      .col-md-6
        %img{:src => "/images/venue-kids.jpg"}
      .col-md-6
        %h2 to children and young people
        %p
          Creating a new main corridor and bringing both staircases into use will significantly improve the flow around our building. Upgrading the first floor facilities will create better and much needed additional spaces for our children and young people’s ministry to grow and ease the crowding around signing our children in and out on Sunday mornings.  These multi-purpose rooms can also be used by community groups and other hirers during the week.
    .row.padded
      .col-md-6
        %h2 through compassion
        %p
          Compassion ministry has doubled in size over the past couple of years, and we have been looking for new space for it to grow beyond the current limitations. We are aiming to re-locate storage of baby clothes and equipment and other ministries into a new modular building sited on part of our car park.  This will enable us to continue welcoming and serving people, building relationships that make a difference and reaching out to those in need in our communities.
      .col-md-6
        %img{:src => "/images/venue-compassion.jpg"}
    .row.padded
      .col-md-6
        %img{:src => "/images/venue-worship.jpg"}
      .col-md-6
        %h2 through worship
        %p
          Repainting and refreshing our main worship space will provide a modern feel to the room and provide better welcome to all guests. Improving our stage, lighting and media facilities will enhance our worship and help us better present the gospel message for the next generation.  Creating better storage will make it much easier to use the hall flexibly for all kinds of events, and create more opportunities for hirings and lettings.
    .row.padded
      .col-md-6
        %p
          %a.btn.btn-lg.btn-success{:href => 'https://s3-eu-west-1.amazonaws.com/winchester-vineyard-website-assets/uploads/venue-plans-latest.pdf'} Download the plans (6MB PDF) &raquo;

