#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home


%section#wv-news
  .shadow
  .container
    .row
      .col-xs-12
        .wv-caption
          %h1 courses
          %br
        - if @courses_events.size >= 3
          .row
            .col-sm-12
              .row
                - @courses_events.first(3).each do |event|
                  = haml :_event, locals: { event: event }
        - if @courses_events.size >= 6
          .row
            .col-sm-12
              .row
                - @courses_events[3..5].each do |event|
                  = haml :_event, locals: { event: event }
