#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %button.navbar-toggle{:type => "button", :'data-toggle' => 'collapse', :'data-target' => '.navbar-collapse'}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      .navbar-collapse.collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => '#wv-sundays'} Sundays
          %li
            %a{:href => '#wv-news'} What's on
          %li
            %a{:href => '/welcome'} Connect
          %li
            %a{:href => '/lifegroups'} Life groups
          %li
            %a{:href => '#wv-compassion'} Compassion
          %li
            %a{:href => '/storehouse'} Storehouse
          %li
            %a{:href => '#wv-healing'} Healing
          %li
            %a{:href => '#wv-talks'} Talks
          %li
            %a{:href => 'http://winvin.churchsuite.co.uk/my'} My Church Suite
          %li
            %a{:href => '/donate'} Donate
          %li
            %a{:href => '/mydata'} Data Protection
          %li
            %a{:href => '#wv-team'} Contact


%section#wv-news
  .shadow
  .container
    .row
      .col-xs-12
        .wv-caption
          %h1 what's on
          %br
        - if @courses_events.size >= 3
          .row
            .col-sm-12
              .row
                - @courses_events.first(3).each do |event|
                  = haml :_event, locals: { event: event }
        - if @courses_events.size >= 6
          .row
            .col-sm-12
              .row
                - @courses_events[3..5].each do |event|
                  = haml :_event, locals: { event: event }
        .row
          .col-xs-12
            .calendar
              :plain
                <iframe frameborder="0" height="600" src="https://winvin.churchsuite.co.uk/embed/calendar?bgcolor=ffffff" style="border-width:0" width="100%"></iframe>
            %br
