#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section#wv-donate.white
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          donate
    .row
      .col-xs-12
        %p
          How can you give effectively?

    .row
      .col-md-6
        %h2 regular giving to the church
        %img{:src => '/images/regulargiving1.jpg'}
        %p
          Supporting Winchester Vineyard church financially makes all our work and ministry possible. 
        %p 
          We want to be a generous people, providing the church with the resources to do things well, whilst also demonstrating God's generosity in what we give away locally and further afield. 
        %p 
          Your giving will help us to continue to love and serve the city and surrounding areas, bringing hope and life to individuals and communities.
        %p
          %a{:href => 'https://winvin.churchsuite.co.uk/donate/fund/wywg9uaa'} Give regularly to the church &raquo;
      .col-md-6
        %h2 global partners
        %img{:src => '/images/global3.jpg'}
        %p
          We support five different Global Partners in their work to help people around the World. Click on the links below to find out more and give to our partners.
        %p
          %a{:href => 'https://winvin.churchsuite.co.uk/donate/fund/mxxdoqfc'} Larissa &amp; Ned &raquo;
        %p
          %a{:href => 'https://winvin.churchsuite.co.uk/donate/fund/1eamwhqt'} Paul &amp; Katie &raquo;
        %p
          %a{:href => 'https://winvin.churchsuite.co.uk/donate/fund/k2qlsgk1'} Karis Kids &raquo;
        %p
          %a{:href => 'https://winvin.churchsuite.co.uk/donate/fund/lktd68zd'} Romania &raquo;
        %p
          %a{:href => 'https://winvin.churchsuite.co.uk/donate/fund/m8weoxvy'} Johnny &amp; Beth &raquo;
    .row
      .col-md-6
        %h2 hardship fund
        %img{:src => '/images/hardship1.jpg'}
        %p
          We want to support people in our community who are struggling and under specific financial strain. 
        %p  
          When people come to us in financial crisis we will assess their needs and use this fund to alleviate their immediate crisis, while we work towards long-term solutions to help them.
        %p
          %a{:href => 'https://winvin.churchsuite.co.uk/donate/fund/wirfrpz3'} Give to the Hardship Fund &raquo;
      .col-md-6
        %h2 building fund
        %img{:src => '/images/buildingfund4.jpeg'}
        %p
          Our building provides the space for all of our ministry to take place. 
        %p 
          We appreciate any funds we receive to improve how we can use the venue to benefit the church and the wider community.
        %p
          %a{:href => 'https://winvin.churchsuite.co.uk/donate/fund/0p1cx7l0'} Give to the Building Fund &raquo;
