#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section#wv-donate.white
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          discipleship year
    .row
      .col-xs-12
        .container
        %p
          Do you want to: grow closer to God, grow in knowledge of God and grow in character?
          %br
          Why not come and join us on our Discipleship Year in 2019/20?
          %br
          Check out the DY brochure
          %a{:href => '/images/DY 2019 Brochure Final.pdf'} here
          !
          %br
          <div style="width: 100%; height: 0px; position: relative; padding-bottom: 56.250%;"><iframe src="https://streamable.com/s/kkh4u/hnwbrn" frameborder="0" width="100%" height="100%" allowfullscreen style="width: 100%; height: 100%; position: absolute;"></iframe></div>
          %br
          
        .row
          %h2 Testimonies
          .col-md-4
            %p
              %h3 Bex
            %p
              %img{:src => '/images/nikki.jpg', :style=> 'margin-top: 13px; height: 300px'}
              DY 2017/18 - “It was an honour to serve the local community and beyond in a variety of ways during my time on DY; including helping with The Storehouse, the Toy Fair and the Christmas Hampers. There were opportunities to explore evangelism and outreach at The Christmas Market and treasure hunting in the city. My highlight was the Romania Mission trip, which inspired me and deepened my passion to reach out to the broken, vulnerable and lost. I also loved getting involved in Kids Church and watching the children flourish as unique individuals, especially when they connect with God through worship, prayer and encourage one another. It’s so exciting!”
            %p
          .col-md-4
              %h3 Nikki
            %p
          
              DY 2017/2018 - “I spent my placement focusing on justice; discovering what the bible says about justice, what acting in a just way looks like in a commercial world and what we can do to improve the effects of that for people and our planet. I have enjoyed learning more about church life, the journey of Vineyard as a movement and the future visions for the Vineyard tribe. Personally this has been an amazing time of growth in my faith and relationship with God but I’ve also really appreciated the opportunity to spend time studying a subject I’m so passion about.”
          .col-md-4
            %p
              %h3 Amy
            %p
              DY 2017/2018 - “I really enjoyed DY as it was a great opportunity to explore ministry, whilst also receiving teaching and input from the fab team at Winchester Vineyard. I focused on student ministry, and even though I grew a lot through it, God used some of the everyday bits of life to really speak to me. It was a crucial year for releasing me into my calling and passions to see people connecting with Jesus and the church. I learnt a lot about myself and God, and have grown in confidence in who God is, who I am and what He has made me to do.”
            %br
            %p
          .col-md-4
            %p
              %h3 Amy
            %p
      -#.col-md-6
        -#:plain
          -#<iframe src="https://player.vimeo.com/video/123932962" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    .row
      .col-xs-12
        
    .row
      
