#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section#wv-donate.white
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          discipleship year
    .row
      .col-xs-12
      %p
        John Wimber, founder of the Vineyard movement, once said: 
        ‘I want to grow up before I grow old. Initial conversion doesn’t ensure Christian maturity. We must be willing to patiently submit to and cooperate aggressively with the process of discipleship, understanding that there are no shortcuts to maturity.’ 
      %p
        The Discipleship Year is an amazing opportunity to give yourself wholeheartedly to this process for a year, where we'll aim to help you:
      %p 
        Grow closer to God
      &p
        %br
        Grow in knowledge of God
        %br
        Grow in gifting
        %br
        Grow in servant-heartedness
        %br
        Grow in character
        %br
        Grow in experience.
        DY is a year tailored towards serving God in a variety of ways and being encouraged to step out of your comfort zone. In doing this we see time and time again how God teaches us about His character, and our own, and shows us where we need to become more like Jesus. Our God is a relational God and He calls us to be relational people. We hope that during DY we will build a community within the group, based on trust and a common desire to grow and go deeper with God. DY also provides an excellent opportunity to explore God’s calling for your life.



      -#.col-md-6
        -#:plain
          -#<iframe src="https://player.vimeo.com/video/123932962" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    .row
      .col-xs-12
        
    .row
      
