#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section#wv-donate.white
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          discipleship year
    .row
      .col-xs-12
        .container
        %p
          Do you want to: grow closer to God, grow in gifting and grow in character?
          %br
          Why not come and join us on our Discipleship Year in 2020/21?
          %br
          Check check out the DY information pack
          %a{:href => '/images/dy2020booklet.pdf'} here
          and read the testimonies of some of our previous DY students below:
          %br
          // %h2 video
          // <div style="width:100%;height:0px;position:relative;padding-bottom:56.250%;"><iframe src="https://streamable.com/s/unmio/gvxxpr" frameborder="0" width="100%" height="100%" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe></div>
          // %br
      
    .row
      .col-md-3
        %p
          %h3 Bex
          %img{:src => '/images/bex.png', :style=> 'margin-top: 13px; height: 100%; width: 100;'}
        %p
          “It was an honour to serve the local community during my time on DY; helping with The Storehouse, the Toy Fair and the Christmas hampers. There were also great opportunities to explore evangelism and outreach at the Christmas market and treasure hunting in the city."
        %p
      .col-md-3
        %p
          %h3 Nikki
          %img{:src => '/images/nikki.jpeg', :style=> 'margin-top: 13px; height: 100%; width: 100;'}
        %p 
          “I really appreciated the opportunity to focus on an area that I was passionate about. I spent time discovering what the bible says about justice, what acting in a just way looks like in a commercial world and what we can do to improve the effects of that for people and our planet."
      .col-md-3
        %p
          %h3 Amy
          %img{:src => '/images/amy.jpeg', :style=> 'margin-top: 13px; height: 100%; width: 100;'}
        %p
          “DY was a great opportunity to explore ministry, whilst also receiving teaching and input from the fab team at Winchester Vineyard. It was a crucial year for releasing me into my calling and passions to see people connecting with Jesus and the church." 
        %p
      .col-md-3
        %p
          %h3 Chris
          %img{:src => '/images/chris.jpg', :style=> 'margin-top: 13px; height: 100%; width: 100;'}
        %p
          "I felt called to DY but wasn't sure why. I was expecting to spend my gap year at Church and get closer to God but I got so much more. I have a better grip on what God's calling is for my life and know what steps I need to take next, which were totally different to my plans!"
        %p
      -#.col-md-6
        -#:plain
          -#<iframe src="https://player.vimeo.com/video/123932962" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
       
      
