#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %button.navbar-toggle{:type => "button", :'data-toggle' => 'collapse', :'data-target' => '.navbar-collapse'}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      .navbar-collapse.collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => '#wv-sundays'} Sundays
          %li
            %a{:href => '#wv-community'} Community
          %li
            %a{:href => '#wv-growing'} Growing
          %li
            %a{:href => '#wv-compassion'} Compassion
          %li
            %a{:href => '#wv-news'} News &amp; events
          %li
            %a{:href => '#wv-team'} Team
          %li
            %a{:href => '/students'} Students
          %li
            %a{:href => 'http://winvin.churchapp.co.uk/my'} My Church App
          %li
            %a{:href => '#wv-find-us'} Contact

.carousel.slide{:'data-ride' => 'carousel', :'data-interval' => '8000', :'data-pause' => 'false'}
  .carousel-inner
    - (0..4).to_a.shuffle.each_with_index do |x, idx|
      .item{:class => idx == 0 ? 'active' : ''}
        %img{:src => "/images/photos/carousel/#{x}.jpg"}
        .carousel-caption
          %p.caption-title
            We are Winchester Vineyard Church: people who are
            getting to know Jesus better
            and bringing hope and life into our communities.
          %p.caption-meet
            We meet on Sunday mornings at 10:30am at the Vineyard Centre, and in other locations throughout the week.
          %p.caption-directions
            %a{:href => '#wv-find-us'} Get directions to the Vineyard Centre &raquo;

#hellobar-here

%section#wv-sundays
  .shadow
  .container
    .row
      .col-md-12
        %h1 sundays - what to expect
        %p You're really welcome to join us on a Sunday morning whether you are a church regular or have never been before. Our service starts at 10.30am and finishes at midday. Free refreshments are served for 20 minutes beforehand - come and grab a coffee. We don't have a dress code: most of us come dressed casually.

        %p
          We meet at the
          %a{:href => '#wv-find-us'} Vineyard Centre.
          We have a fully accessible venue with free parking including Blue Badge holder spaces.
        %p
          Want to help make church happen?
          %a{:href => 'http://winvin.org.uk/makingithappen'} Sign up for a team! &raquo;
    .row
      .col-md-4
        %h3 we launch with worship
        %img{:src => '/images/photos/areas/sunday/worship.jpg'}
        %p Connecting with God is central to what we do. A live band leads us for about 25 minutes of sung worship. The words are on the screen and you can join in or just sit back and listen.
      .col-md-4
        %h3 learn together
        %img{:src => '/images/photos/areas/sunday/insight.jpg'}
        %p
          We have a talk based on the Bible and our experience of Jesus. It's not just theory; the talks are relevant to our day to day lives and there are always things to put into practice.
        %p
          %a{:href => '#wv-talks'} Listen to recordings of past talks &raquo;
      .col-md-4
        %h3 and make a response
        %img{:src => '/images/photos/areas/sunday/response.jpg'}
        %p At the end of the talk we reflect on what we have heard and respond. There is the opportunity to choose to follow Jesus or to receive prayer. There is no pressure to participate, but always the chance to respond if you wish.
    .row
      .col-sm-4
        %h3 kids' church
        %img{:src => '/images/photos/areas/sunday/kids-church.jpg'}
        %p We run age-appropriate interactive groups for 0-11s so they can learn about Jesus in a safe and fun environment. Our volunteer welcome team at the door can help your family settle in the right places. You can sign your children into their groups from 10.20am.
      .col-sm-4
        %h3 youth
        %img{:src => '/images/photos/youth.jpg'}

        %p Our youth (11-18s) meet after worship in the Youth Café. We play games and eat chocolate, whilst learning what it means to follow Jesus as a teenager today.

        %p Our kids and youth team have up to date DBS checks.

      .col-sm-4
        %h3 finding out more
        %img{:src => '/images/photos/areas/sunday/coffee.jpg'}
        %p The service ends about midday. If it's your first visit we'd love to meet you! You can join some of our team in the connect area to have a coffee and ask any questions.

%section#wv-talks
  .shadow
  .container
    .row
      .col-xs-12
        .wv-caption
          %h1 talk downloads
          %p We record every talk we give on Sunday, and a number of the talks that are delivered during the week and at special events.
          %p
            %strong Within the last month
        .row#wv-talks-within-last-month
        .wv-caption
          %p
            %strong Older talks
        .row#wv-talks-older
%section#wv-community
  .shadow
  .container
    .row
      .col-md-6.col-lg-7
        %h1 community
        %p We have many places for you to connect, belong and get involved, no matter what your age or life stage.
        %h2 life groups
        %p Our Life Groups are at the heart of our church. They meet in people's homes in Winchester and the surrounding areas. They are a great place to get to know others, share both the big and the small things of life, and learn to do the things Jesus did.
        %p Groups run on a termly basis, with some groups lasting just a term and other groups lasting longer. You are welcome to continue going to the same group for several terms.

        %h2 how to join a life group
        %p
          We are currently accepting signups for life groups running during the Summer term 2015. Groups start the week of the 4th May, with the Parenting Teenagers group starting a week earlier.

        %p
          %strong Please sign up even if you're planning on going to your existing group!
        %p
          %a.btn.btn-primary{:href => '/lifegroups'} View the list of life groups &raquo;
      #flickr.hidden-xs.hidden-sm.col-md-4.col-md-offset-1
        %img{:src => "/images/photos/areas/community/life-group.jpg"}
        %img{:src => "/images/photos/areas/community/family-fun-day.jpg"}
        %img{:src => "/images/photos/areas/community/quiz-night.jpg"}
  .container
    .row
      .col-md-12
        %h2 other groups
    .row
      .col-md-6
        %h3 fingerlings baby group
        %img{:src => '/images/photos/areas/fingerlings.jpg'}
        %p
          Our term time group for expectant mums and new babies meets on Wednesdays from 10 - 11.30am.
          Come for coffee and to chat about life with a baby ... and beyond!
        %p
          %a{:href => '#wv-find-us'} Call us for more information &raquo;
      .col-md-6
        %h3 big fish toddler group
        %img{:src => '/images/photos/areas/what-we-do/big-fish.jpg'}
        %p
          Our toddler group meets on Monday and Tuesday mornings during term time from 10am - 11:30am. There is plenty of room to play including an outside area, a large selection of toys and great cake! There's a waiting list for Monday's group but Tuesday's group is currently open to new members!
        %p
          %a{:href => '#wv-find-us'} Call us for more information &raquo;
    .row
      .col-md-6
        %h3 second sunday
        %p
          Students and 20's social events, meeting the second sunday of every month: we have regular film nights and spend plenty of time hanging out at the pub!
        %p
          %a{:href => '#wv-find-us'} Call us for more information &raquo;
      .col-md-6
        %h3 monday night football
        %p
          Come and play football every Monday evening 8-9pm at Knightwood Leisure Centre in Chandler's Ford. All abilities welcome.
        %p
          %a{:href => '#wv-find-us'} Call us for more information &raquo;
%section#wv-growing
  .shadow
  .container.wv-caption
    .row
      .col-md-12
        %h1 growing
        %p When we follow Jesus, our lives begin to change. As we grow in our faith, we may find we need to deal with the effects of the past - either things we've done which we wished we hadn’t, or things we've experienced through circumstances or relationships. God loves us and wants us to be free from the things that hold us back.
        %p Life groups and Sunday morning services are a great place to be prayed for. If we want to go deeper there are a variety of different options which are collectively called Streams of Hope.
    .row
      .col-md-3
        %h3 first stop
        %p
          Not sure where to start? Contact us for a First Stop appointment to discuss how we can best move forward.
        %p
          %a{:href => 'mailto:enquiries@streamsofhope.org.uk'} Make an enquiry &raquo;
      .col-md-3
        %h3 sozo
        %p
          Sozo is a powerful yet gentle prayer session that aims to deal with the things that are stopping us from connecting deeply with God.
        %p
          %a{:href => 'mailto:enquiries@streamsofhope.org.uk'} Make an enquiry &raquo;
      .col-md-3
        %h3 freedom in christ
        %p
          Freedom in Christ is a discipleship course that shows us who we are in Christ and how to live this out in day to day life.
        %p
          %a{:href => 'mailto:hello@winvin.org.uk?subject=Freedom+In+Christ'} Register your interest &raquo;
      .col-md-3
        %h3 love after marriage
        %p
          This course takes an in-depth look at relationships. It can revive and refresh your marriage, or help repair marriages that are struggling.
        %p
          %a{:href => 'mailto:hello@winvin.org.uk?subject=Love+after+marriage=enquiry'} Register your interest &raquo;
%section#wv-compassion
  .shadow
  .container
    .row
      .col-md-12
        %h1 compassion
        %p We live out our faith in Jesus by practically serving the needs of people in our city.
    .row
      .col-md-12
        %p Thank you so much for your generosity at Christmas giving toys and food to help those who needed them. Here are some comments from the agencies we work with:
        %p.quote "My client was feeling low and not looking forward to Christmas - it is such a sad and lonely time for them. The hamper lifted his spirits and he was so grateful for being thought of. It is such a pleasure to be able to nominate someone!"
        %p.quote "My client spent ages going through the box – loved the red tissue as an indication of being special. She looked through the items one by one, calling for her partner to see each and identifying a day on which to have what – to spread out the pleasure. Great joy from both!"
    .row
      .col-md-4
        %h3 children's storehouse
        %img{:src => '/images/photos/areas/what-we-do/store-house.jpg'}
        %p
          We provide free good quality childrens clothes and equipment to those in need. We run a voucher system and accept referrals from statutory organisations across the area. Please get in touch if you need our services or want to donate 'as new' goods.
        %p
          %a{:href => 'mailto:hello@winvin.org.uk?subject=Storehouse'} Get in touch &raquo;
      .col-md-4
        %h3 street team
        %img{:src => '/images/photos/areas/what-we-do/street-teams.jpg'}
        %p
          On Saturday nights, a team goes out into Winchester city centre with soup, rolls, tea, coffee, blankets, socks, hats and a listening ear. We help those on the streets by providing for basic needs and giving them someone to talk to.
        %p
          %a{:href => 'mailto:hello@winvin.org.uk?subject=Street teams enquiry'} Get involved &raquo;
      .col-md-4
        %h3 foodstore
        %img{:src => '/images/photos/areas/what-we-do/foodstore.jpg'}
        %p
          Foodstore reaches out to serve those in need by providing them with a simple bag of groceries.
        %p To get involved: "grab a bag, fill a bag, give a bag!" All you need to do is pick up a bag on a Sunday and bring it back full.
      .col-md-4
        %p
          %a{:href => 'https://s3-eu-west-1.amazonaws.com/winchester-vineyard-website-assets/uploads/fs-full-list.pdf'} Download a shopping list &raquo;
    .row
      .col-md-4
        %h3 healing on the streets
        %img{:src => 'http://maps.googleapis.com/maps/api/staticmap?center=51.062635, -1.311836&zoom=15&size=360x120&maptype=roadmap&markers=color:blue%7C51.062635,-1.311836&sensor=false'}
        %p
          Each Saturday afternoon we offer prayer for healing on the streets of Winchester. We meet on Kings Walk (near the Brooks shopping centre) from 2.30-4pm whatever the weather. This is a Winchester Churches Together initiative.
        %p
          %a{:href => 'http://winhealing.org.uk'} Visit the website &raquo;
      .col-md-4
        %h3 street pastors
        %img{:src => '/images/streetpastors.jpg'}
        %p
          We support the Winchester Street Pastors scheme, joining with other local churches to send trained teams onto the streets at night from 9:30pm to 3:30am. We support vulnerable individuals and provide practical help.
        %p
          %a{:href => 'http://winchester.streetpastors.org.uk'} Visit the website &raquo;
      .col-md-4
        %h3 karis kids
        %img{:src => '/images/kariskids.png'}
        %p
          Karis Kids is an initiative that integrates Ugandan children orphaned by AIDS into adoptive families. As a church we support the full time project leader, and we link families from church here with families in Uganda.
        %p
          %a{:href => 'http://kariskids.org.uk'} Visit the website &raquo;

%section#wv-news
  .shadow
  .container
    .row
      .col-xs-12
        .wv-caption
          %h1 what's happening
        .row
          .col-sm-12
            .wv-caption
              %p
                %strong Coming up soon
            .row#wv-news-this-month
            .wv-caption
              %p
                %strong Further ahead
            .row#wv-news-further-ahead
%section#wv-team.wv-team
  .container
    .row
      .col-xs-12
        %h1 meet the team
    .row
      .col-md-6
        %br
        %img.team.img-rounded{:src => '/images/team/nigel-and-jo-hemming.jpg'}
      .col-md-6
        %h2 nigel and jo hemming
        %p Nigel and Jo have led the church since 2012. Before moving to Winchester they lived in Birmingham, where they were part of the leadership team of the Vineyard Church there. Prior to that, Nigel was a musician and a teacher and Jo was an environmental protection officer. They have three wonderful children, Becky, Zac and JJ and are passionate about helping people of all ages connect with Jesus.
    %hr
    .row
      .col-md-4
        %img.team.img-rounded{:src => '/images/team/brian-and-hilary-nicholson.jpg'}
        %h3 brian and hilary nicholson
        %p Brian serves on the Strategic Leadership Group and oversees discipleship courses including Freedom in Christ and Living Free. With his wife Hilary they lead the prayer ministry team and share their long experience of church leadership through a number of areas.
      .col-md-4
        %img.team.img-rounded{:src => '/images/team/chris-and-ellie-parsons.jpg'}
        %h3 chris and ellie parsons
        %p Chris and Ellie assist Nigel and Jo in leading the church. They have been part of the church for many years, serving on a wide range of teams. They serve on the Strategic Leadership Group and have overall responsibility for Life Groups. Chris also works in software development and Ellie has a background in nursing.
      .col-md-4
        %img.team.img-rounded{:src => '/images/team/paul-phillips.jpg'}
        %h3 paul phillips
        %p Paul oversees the role of prayer in our church life and serves on the Strategic Leadership Group. He also works to train and develop leaders and small groups within the church.
    %hr
    .row
      .col-md-4
        %h3 jenny mackereth
        %p Jenny is responsible for the Children's Storehouse and oversees our other compassion ministries.
      .col-md-4
        %h3 neil mackereth
        %p Neil chairs the trustees of the church, which oversee legal and financial aspects of what we do.
      .col-md-4
        %h3 mike morell
        %p Mike is the Office Manager, responsible for administration and the vineyard centre together with a growing team of part-time and volunteer staff.
    .row
      .col-md-4
        %h3 clare suffield
        %p Clare, along with her husband Mervyn, coordinates the Streams of Hope counselling and healing ministries.
      .col-md-4
        %h3 clare sullivan
        %p Clare is our Safeguarding Officer, ensuring we make church a safe place for everyone.
