#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %button.navbar-toggle{:type => "button", :'data-toggle' => 'collapse', :'data-target' => '.navbar-collapse'}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 5px; height: 50px'}
      .navbar-collapse.collapse
        .container
          %ul.nav.navbar-nav.navbar-right{:style => 'margin-top: 3px'}
            %li
              %a{:href => '#wv-sundays'} Sundays
            %li
              %a{:href => '#wv-life-groups'} Life groups
            %li
              %a{:href => '#wv-what-we-do'} Outreach
            %li
              %a{:href => '#wv-news'} Events
            %li
              %a{:href => '#wv-jesus'} Jesus
            %li
              %a{:href => '#wv-find-us'} Contact

.carousel.slide{:'data-ride' => 'carousel', :'data-interval' => '8000', :'data-pause' => 'false'}
  .carousel-inner
    - (0..4).to_a.shuffle.each_with_index do |x, idx|
      .item{:class => idx == 0 ? 'active' : ''}
        %img{:src => "/images/photos/carousel/#{x}.jpg"}
        .carousel-caption
          Rooted in God.  Transforming our community.
          %a{:href => '#wv-welcome'}
            Find out more &raquo;

%section#wv-welcome
  .shadow
  .container
    .row.wv-intro
      .col-md-8
        %p{:style => 'font-size: 250%'} We are Winchester Vineyard Church.

        %p
          We are a church based in Winchester, UK and part of the wider
          %a{:href => 'http://www.vineyardchurches.org.uk/'} Vineyard
          family of churches.
          We have several hundred members from Winchester, Basingstoke, Southampton and the surrounding area.

        %p
          Our office is open Monday to Friday from 9:30am, or just show up on a Sunday morning. The service kicks off at 10:30am, but you might want to get there early for coffee.
          %br
          %br
          %a{:href => '#wv-find-us'} Get directions to the Vineyard Centre &raquo;
      .col-md-4
        .wv-areas
          .row
            .col-xs-6
              %a{:href => '#wv-sundays'}
                .thumbnail
                  %img{:src => "/images/photos/areas/sunday.jpg"}
                  .caption Sundays
            .col-xs-6
              %a{:href => '#wv-life-groups'}
                .thumbnail
                  %img{:src => "/images/photos/areas/life-groups.jpg"}
                  .caption Life groups
          .row
            .col-xs-6
              %a{:href => '#wv-what-we-do'}
                .thumbnail
                  %img{:src => "/images/photos/areas/what-we-get-up-to.jpg"}
                  .caption Outreach
            .col-xs-6
              %a{:href => '#wv-news'}
                .thumbnail
                  %img{:src => "/images/news/briand.jpg"}
                  .caption
                    Events
          .row
            .col-xs-6
              %a{:href => '#wv-jesus'}
                .thumbnail
                  %img{:src => '/images/jesus.png'}
                  .caption Jesus
            .col-xs-6
              %a{:href => '#wv-find-us'}
                .thumbnail
                  %img{:src => "/images/photos/areas/how-to-get-here.jpg"}
                  .caption Contact us

%section#wv-sundays
  .shadow
  .container
    .row
      .col-md-12
        %h1 sundays - what to expect
        %p We start about 10:30am, but most people come along about 15 to 20 minutes early for a cup of proper coffee. The kids groups open for check in about 10:20am.
    .row
      .col-md-4
        %h3 we start with worship
        %img{:src => '/images/photos/areas/sunday/worship.jpg'}
        %p We always have a live band playing music for about 30 minutes at the beginning of the service. They play a mixture of loud and quiet contemporary songs and hymns. The words are shown on a screen: feel free to join in, or sit and watch if you prefer.
      .col-md-4
        %h3 learn together
        %img{:src => '/images/photos/areas/sunday/insight.jpg'}
        %p
          After the music, there's a talk given by someone in the church or a visiting speaker based on the bible. It's not just theory: there's always ways to apply what's being shared to our day to day lives.
          %br
          %a{:href => '#wv-talks'} Listen to recordings of past talks &raquo;
      .col-md-4
        %h3 and make a response
        %img{:src => '/images/photos/areas/sunday/response.jpg'}
        %p We believe in the supernatural. Often during the morning God speaks to people about medical conditions that others in the room have. We always have time to pray for people for emotional and physical at this point in the morning.
    .row
      .col-sm-6
        %h3 kids church and youth
        %img{:src => '/images/photos/areas/sunday/kids-church.jpg'}
        %p Church isn't only for adults. Rather than just schooling kids on Sundays, we run a variety of interactive groups for under 11s learning about Jesus with games and fun at the centre! We also have a great bunch of 11-18 year olds who meet each sunday morning in the upstairs youth room.
      .col-sm-6
        %h3 coffee and cake
        %img{:src => '/images/photos/areas/sunday/coffee.jpg'}
        %p We finish up around noon, when parents collect their younger kids from their groups. We serve lovely cakes and nice coffee or teas and have a large café area for everyone to hang out. People often stick around for almost an hour to chat!
%section#wv-talks
  .shadow
  .container
    .row
      .col-xs-12
        .wv-caption
          %h1 talk downloads
          %p We record every talk we give on Sunday, and a number of the talks that are delivered during the week and at special events.
          %p
            %strong Within the last month
        .row#wv-talks-within-last-month
        .wv-caption
          %p
            %strong Older talks
        .row#wv-talks-older
%section#wv-life-groups
  .shadow
  .container
    .row
      .col-md-6.col-lg-7
        %h1 life groups
        %p Our Life Groups are the soul of the church.
        %p Each week, about twenty smaller groups of people get together in homes to worship God, to pray and to share life with each other.
        %p This is the primary place in the church where people are looked after and trained to do the things Jesus did.
        %h2 how to join a group
        %p
          Browse the map below and
          %a{:href => '#wv-find-us'} get in touch with the office
          to find out more about a group.
        :plain
          <iframe frameborder="0" height="300" scrolling="no" src="https://winvin.churchapp.co.uk/embed/smallgroups/map?body_bgcolor=EDECF1&group_bgcolor=ffffff&group_border_color=dddddd&avatar_bgcolor=40A284&heading_color=222222&text_color=444444&icon_color=8e8e8e&zoom=9" style="border-width:0" width="100%"></iframe>
%section#wv-what-we-do
  .shadow
  .container
    .row
      .col-xs-12
        %h1 outreach
        %p
          We work hard to make a difference to people's lives. We aim to be the best friend to our local community that we can possibly be. If you'd like to volunteer to be a part of any of the activities below then
          = succeed '.' do
            %a{:href => '#wv-find-us'}> let us know
    .row
      .col-md-4
        %h3 big fish
        %img{:src => '/images/photos/areas/what-we-do/big-fish.jpg'}
        %p
          On Mondays and Tuesdays from 10-12pm during term time we have hundreds of pre-school children, parents and carers for an activity morning. We have plenty of room to explore and a large selection of toys.
        %p
          There is currently a waiting list:
          %a{:href => '#wv-find-us'} call us
          if you'd like to be on it or to find out more.
      .col-md-4
        %h3 children's storehouse
        %img{:src => '/images/photos/areas/what-we-do/store-house.jpg'}
        %p
          On Thursdays from 10am-2pm we give away childrens clothes and food parcels to those in need. We use a voucher system and work with the council and other local organisations.
        %p
          Please
          %a{:href => '#wv-find-us'} get in touch
          if you need our services.
      .col-md-4
        %h3 street teams
        %img{:src => '/images/photos/areas/what-we-do/street-teams.jpg'}
        %p
          On Saturday nights, teams go out into Winchester city centre with soup, rolls, tea, coffee, blankets, socks, hats and a listening ear.
        %p
          We help those on the streets by providing for basic needs and giving them someone to talk to.

%section#wv-news
  .container
    .row
      .col-xs-12
        .wv-caption
          %h1 what's happening
        .row
          .col-sm-12
            .wv-caption
              %p
                %strong This week
            .row#wv-news-this-week
            .wv-caption
              %p
                %strong In the next month
            .row#wv-news-this-month
            .wv-caption
              %p
                %strong Further ahead
            .row#wv-news-further-ahead
%section#wv-jesus
  .container
    .row
      .col-md-6
        %h1 jesus
    .row
      .col-md-6
        %p Jesus of Nazareth was a working-class carpenter from a dusty town in the Middle East. He was born around two thousand years ago.
        %p We believe that he was unique, and special among all people to have walked the earth: that he was God in human form.
        %p He came willingly to be with us to pay the cost of humanity's selfishness and disobedience, allowing himself to be brutally executed by the authorities that we might once again have relationship with God.
        %p We believe that he's still alive today, and calling all people to himself to join his mission to save humanity.
        %p
          %a{:href => 'mailto:hello@winvin.org.uk'} I want to find out more &raquo;

      .col-md-6
        :plain
          <iframe width="100%" height="350" src="//www.youtube.com/embed/d2BW_yButTk" frameborder="0" allowfullscreen></iframe>

%footer#wv-find-us
  .shadow
  .container
    %h1 connect with us
    .row
      .col-sm-6
        %br
        %img.logo{:src => '/images/logo-50h-white-on-clear.png', :alt => "Winchester Vineyard Church"}
        %br
        %br
        Bar End Industrial Estate
        %br
        Bar End Road
        %br
        Winchester
        %br
        SO23 9NP
        %br
        %br
        %a{:href => 'callto:+441962863217'} +44 (0) 1962 863 217
        %br
        %a{:href => 'mailto:hello@winvin.org.uk'} hello@winvin.org.uk
        %br
        %br
        %small
          == All content and images &copy; #{Time.now.year} Winchester Vineyard except where noted. All rights reserved.
          %br
          Winchester Vineyard is affiliated to VINEYARD&reg; CHURCHES UK and registered as a charitable company in England and Wales. Company No. 3073426. Charity No. 1047868.
        %br
        %br
      .col-sm-5.col-sm-offset-1
        %br
        %a{:href => 'https://maps.google.co.uk/maps?q=Winchester+Vineyard,+Winchester,+UK&hl=en&ll=51.052833,-1.306343&spn=0.138984,0.308647&sll=51.053319,-1.297975&sspn=0.017373,0.038581&t=m&z=12'}
          %img.map{:src => 'http://maps.googleapis.com/maps/api/staticmap?center=Winchester+Vineyard+Winchester+UK+SO23+9NP&zoom=12&size=400x266&maptype=roadmap&markers=color:blue%7C51.052867,-1.306236&sensor=false'}
