#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %button.navbar-toggle{:type => "button", :'data-toggle' => 'collapse', :'data-target' => '.navbar-collapse'}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 5px; height: 50px'}
      .navbar-collapse.collapse
        .container
          %ul.nav.navbar-nav.navbar-right{:style => 'margin-top: 3px'}
            %li
              %a{:href => '#wv-sundays'} Sundays
            %li
              %a{:href => '#wv-community'} Community
            %li
              %a{:href => '#wv-growing'} Growing
            %li
              %a{:href => '#wv-compassion'} Compassion
            %li
              %a{:href => '#wv-news'} Events
            %li
              %a{:href => '#wv-team'} Team
            %li
              %a{:href => '#wv-find-us'} Contact

.carousel.slide{:'data-ride' => 'carousel', :'data-interval' => '8000', :'data-pause' => 'false'}
  .carousel-inner
    - (0..5).to_a.shuffle.each_with_index do |x, idx|
      .item{:class => idx == 0 ? 'active' : ''}
        %img{:src => "/images/photos/carousel/#{x}.jpg"}
        .carousel-caption
          Rooted in God.  Bringing life to our community.
          %a{:href => '#wv-welcome'}
            Find out more &raquo;

%section#wv-welcome
  .shadow
  .container
    .row.wv-intro
      .col-md-6
        %p{:style => 'font-size: 250%'}
          We are Winchester Vineyard Church. We're a community of people who are
          %a{:href => '#', :title => "Find out more about Jesus"} getting to know Jesus better
          and bringing hope and life into our localities.

        %p
          We meet on Sunday mornings at 10:30am at the Vineyard Centre, and in other locations throughout the week.
          %br
          %br
          %a{:href => '#wv-find-us'} Get directions to the Vineyard Centre &raquo;
      .col-md-5.col-md-offset-1
        .wv-areas
          .row
            .col-xs-6
              %a{:href => '#wv-sundays'}
                .thumbnail
                  %img{:src => "/images/photos/areas/sunday.jpg"}
                  .caption Sundays
            .col-xs-6
              %a{:href => '#wv-community'}
                .thumbnail
                  %img{:src => "/images/photos/areas/life-groups.jpg"}
                  .caption Community
          .row
            .col-xs-6
              %a{:href => '#wv-growing'}
                .thumbnail
                  %img{:src => "/images/photos/areas/what-we-get-up-to.jpg"}
                  .caption Growing
            .col-xs-6
              %a{:href => '#wv-compassion'}
                .thumbnail
                  %img{:src => "/images/photos/areas/what-we-get-up-to.jpg"}
                  .caption Compassion
          .row
            .col-xs-6
              %a{:href => '#wv-news'}
                .thumbnail
                  %img{:src => "/images/news/briand.jpg"}
                  .caption Events
            .col-xs-6
              %a{:href => '#wv-find-us'}
                .thumbnail
                  %img{:src => "http://maps.googleapis.com/maps/api/staticmap?center=Winchester+Vineyard+Winchester+UK+SO23+9NP&zoom=13&size=600x400&maptype=roadmap&markers=color:blue%7C51.052867,-1.306236&sensor=false"}
                  .caption Connect with us

%section#wv-sundays
  .shadow
  .container
    .row
      .col-md-12
        %h1 sundays - what to expect
        %p You are really welcome to join us on a Sunday morning whether you are a church regular or have never been before. Our service starts at 10.30am and finishes at 12 noon. Free refreshments are served for 20 minutes beforehand - come and grab a coffee. Most of us come dressed casually, but if you want to wear a brand new suit, that's fine!

        %p
          We meet at the
          %a{:href => '#wv-find-us'} Vineyard Centre.
          We have a fully accessible venue with free parking including Blue Badge holder spaces.
    .row
      .col-md-4
        %h3 we start with worship
        %img{:src => '/images/photos/areas/sunday/worship.jpg'}
        %p A live band leads us in about 25 minutes of heartfelt sung worship. The words are on the screen and you can join in or just sit back and listen.
      .col-md-4
        %h3 learn together
        %img{:src => '/images/photos/areas/sunday/insight.jpg'}
        %p
          We have a talk based on the Bible and our experience of Jesus. It's not just theory; the talks are relevant to our day to day lives and there are always things to put into practice.
        %p
          %a{:href => '#wv-talks'} Listen to recordings of past talks &raquo;
      .col-md-4
        %h3 and make a response
        %img{:src => '/images/photos/areas/sunday/response.jpg'}
        %p At the end of the talk we reflect on what we have heard and respond. There is the opportunity to choose to follow Jesus at this time, or the chance to receive prayer. There is no pressure to participate, but always the chance to respond if you wish.
    .row
      .col-sm-4
        %h3 kids church
        %img{:src => '/images/photos/areas/sunday/kids-church.jpg'}
        %p Church isn't just for grown ups! We run age-appropriate interactive groups for 0-11s so they can learn about Jesus in a safe and fun environment. Our volunteer welcome team at the door can help your family settle in the right places. You can sign your children into their groups from 10.20am.
      .col-sm-4
        %h3 youth
        %img{:src => '/images/photos/areas/sunday/youth.jpg'}

        %p Our youth (11-18s) meet during the service in the Youth Café. We play games and eat chocolate, whilst learning what it means to follow Jesus as a teenager today.

        %p Our kids and youth team have up to date DBS checks.

      .col-sm-4
        %h3 finding out more
        %img{:src => '/images/photos/areas/sunday/coffee.jpg'}
        %p The service ends about midday. If it's your first visit we'd love to meet you! You can join some of our staff team in the connect area at the back of the café to have a coffee and ask any questions.

%section#wv-talks
  .shadow
  .container
    .row
      .col-xs-12
        .wv-caption
          %h1 talk downloads
          %p We record every talk we give on Sunday, and a number of the talks that are delivered during the week and at special events.
          %p
            %strong Within the last month
        .row#wv-talks-within-last-month
        .wv-caption
          %p
            %strong Older talks
        .row#wv-talks-older
%section#wv-community
  .shadow
  .container
    .row
      .col-md-6.col-lg-7
        %h1 community
        %p We have many places for you to get involved, connect, and belong, no matter what your age or life stage.
        %h2 life groups
        %p Our Life Groups are at the heart of our church. They meet in peoples homes in Winchester and the surrounding areas. They are made up of 6-15 people and are a great place to get to know others, share both the important and the insignificant things of life and learn to do the things Jesus did.
        %h2 how to join a group
        %p
          Most groups meet weekly. You are welcome to try a few to find the one where you feel most at home. Browse the map below and
          %a{:href => '#wv-find-us'} get in touch with the office
          to find out more about a group.
        %p
          :plain
            <iframe frameborder="0" height="300" scrolling="no" src="https://winvin.churchapp.co.uk/embed/smallgroups/map?body_bgcolor=EDECF1&group_bgcolor=ffffff&group_border_color=dddddd&avatar_bgcolor=40A284&heading_color=222222&text_color=444444&icon_color=8e8e8e&zoom=9" style="border-width:0" width="100%"></iframe>
      #flickr.hidden-xs.hidden-sm.col-md-4.col-md-offset-1
        %img{:src => "/images/photos/areas/life-groups.jpg"}
        %img{:src => "/images/photos/areas/sunday.jpg"}
        %img{:src => "/images/photos/areas/what-we-get-up-to.jpg"}
        %img{:src => "/images/photos/areas/what-we-do/big-fish.jpg"}
  .container
    .row
      .col-md-6
        %h3 fingerlings baby group
        %p (!! baby photo here)
        %p
          Our new term time baby group meets on Wednesdays from 10-11.30am.
          Come for coffee and to chat about life with a baby ... and beyond!
        %p
          %a{:href => '#wv-find-us'} Call us for more information &raquo;
      .col-md-6
        %h3 big fish toddler group
        %img{:src => '/images/photos/areas/what-we-do/big-fish.jpg'}
        %p
          Our toddler group meets on Monday and Tuesday mornings during term time from 10am - 12pm. There is plenty of room to play, including an outside area, a large selection of toys and great cake!
    .row
      .col-md-6
        %h3 friday youth
        %p (!! youth photo)
        %p
          Our term time friday night youth club meets from 7-9pm to hang out, play games, listen to music and eat tuck! Why not come and join us?
      .col-md-6
        %h3 monday night football
        %p (!! football photo)
        %p
          Come and play football every Monday evening 8-9pm at Knightwood Leisure Centre in Chandler's Ford. All abilities welcome.
%section#wv-growing
  .shadow
  .container
    .row
      .col-md-12
        %h1 growing
        %p Many of us struggle with the effects of the past - either things we've done which we wished we hadn’t, or things we've experienced through circumstances or relationships. God loves us and wants us to be free from the things that hold us back.
        %p Life groups and Sunday morning services are a great place to be prayed for. If you want to go deeper there are a variety of different options which are collectively called Streams of Hope.
    .row
      .col-md-3
        %h3 first stop
        %p
          Not sure where to start? Contact us for a First Stop appointment to discuss how you can best move forward.
      .col-md-3
        %h3 sozo
        %p
          Sozo is a powerful yet gentle prayer session that aims to deal with the things that are stopping you from connecting deeply with God.
      .col-md-3
        %h3 freedom in christ
        %p
          Freedom in Christ is a discipleship course that shows us who we are in Christ and how to live this out in day to day life.
      .col-md-3
        %h3 love after marriage
        %p
          Love After Marriage (LAM) is an 18 week course taking an in depth look at your relationship. It can revive and refresh your marriage, or help repair marriages that are struggling.
    .row
      .col-md-3
        %p
          %a{:href => 'mailto:enquiries@streamsofhope.org.uk'} Make an enquiry &raquo;
      .col-md-3
        %p
          %a{:href => '#wv-find-us'} Download the Sozo forms &raquo;
      .col-md-3
        %p
          %a{:href => 'mailto:enquiries@streamsofhope.org.uk?subject=Love After Marriage enquiry'} Register your interest &raquo;
      .col-md-3
        %p
          %a{:href => 'mailto:admin@winvin.org.uk?subject=Freedom in Christ enquiry'} Register your interest &raquo;
%section#wv-compassion
  .shadow
  .container
    .row
      .col-md-12
        %h1 compassion
        %p We live out our faith by practically serving the needs of people in our city.
    .row
      .col-md-12
        %p.quote A recent visitor to our storehouse said, "I didn’t realise you did school uniform, my son goes to school looking like a ragamuffin. He hates it because he is embarrassed." She was overwhelmed to receive a new uniform for her son.
    .row
      .col-md-6
        %h3 children's storehouse
        %img{:src => '/images/photos/areas/what-we-do/store-house.jpg'}
        %p
          We provide free good quality childrens clothes and equipment to those in need. We run a voucher system and accept referrals from statutory organisations across the area. Please get in touch if you need our services or want to donate 'as new' goods.
      .col-md-6
        %h3 foodbank
        %img{:src => '/images/photos/areas/what-we-do/store-house.jpg'}
        %p
          Foodbank reaches out to serve those in need by providing a simple bag of groceries
        %p To get involved, grab a bag, fill a bag, give a bag! All you need to do is pick up a bag on a Sunday and bring it back full.
    .row
      .col-md-6
        %p
          %a{:href => '#'} Get in touch &raquo;
      .col-md-6
        %p
          %a{:href => '#'} Download a shopping list &raquo;
    .row
      .col-md-4
        %h3 karis kids
        %img{:src => '/images/kariskids.png'}
        %p
          Karis Kids is an initiative that integrates Ugandan children orphaned by AIDS into adoptive families. As a church we support the full time project leader, and we link families from church here with families in Uganda.
      .col-md-4
        %h3 street pastors
        %img{:src => '/images/streetpastors.jpg'}
        %p
          We support the Winchester Street Pastors scheme, joining with other local churches to send trained teams onto the streets at night from 9:30pm to 3:30am. We support vulnerable individuals and provide practical help.
      .col-md-4
        %h3 street team
        %img{:src => '/images/photos/areas/what-we-do/street-teams.jpg'}
        %p
          On Saturday nights, a team goes out into Winchester city centre with soup, rolls, tea, coffee, blankets, socks, hats and a listening ear. We help those on the streets by providing for basic needs and giving them someone to talk to.
    .row
      .col-md-4
        %p
          %a{:href => 'http://kariskids.org.uk'} Visit the website &raquo;
      .col-md-4
        %p
          %a{:href => 'http://winchester.streepastors.org.uk'} Visit the website &raquo;
      .col-md-4
        %p
          %a{:href => 'admin@winvin.org.uk'} Get involved &raquo;


%section#wv-news
  .container
    .row
      .col-xs-12
        .wv-caption
          %h1 what's happening
        .row
          .col-sm-12
            .wv-caption
              %p
                %strong This week
            .row#wv-news-this-week
            .wv-caption
              %p
                %strong In the next month
            .row#wv-news-this-month
            .wv-caption
              %p
                %strong Further ahead
            .row#wv-news-further-ahead
%section#wv-team
  .container
    .row
      .col-xs-12
        %h1 meet the team
    .row
      .col-md-6
        %img.team{:src => '/images/news/briand.jpg'}
      .col-md-6
        %h2 nigel and jo hemming
        %p Nigel and Jo have led the church since Jan 2012. They met and married in Birmingham and spent a number of years working there, before moving to Winchester to lead our church.
        %p They have three children: Becky, Zac and JJ. More amazing bio here!
    %hr
    .row
      .col-md-4
        %img.team{:src => '/images/news/briand.jpg'}
        %h2 chris and ellie parsons
        %p Chris &amp Ellie are part of the leadership team which assists Nigel and Jo in running the church. They coordinate life groups and Sparklers for under fives, as well as running parenting courses and being part of the team which host and leads Sunday services.
      .col-md-4
        %img.team{:src => '/images/news/briand.jpg'}
        %h2 brian nicholson
        %p Brian serves on the leadership team of the church, and oversees discipleship courses run at the Vineyard such as Freedom in Christ and Living Free. He also preaches on Sundays, drawing from his long experience of church leadership.
      .col-md-4
        %img.team{:src => '/images/news/briand.jpg'}
        %h2 paul phillips
        %p bio of paul here
    %hr
    .row
      .col-md-4
        %h3 paul penney
        %p Paul leads the youth teams at our church.
      .col-md-4
        %h3 clare suffield
        %p Clare coordinates the Streams of Hope ministry
      .col-md-4
        %h3 jenny mackereth
        %p Jenny is reponsible for our children's storehouse and street teams work.
    .row
      .col-md-4
        %h2 neil mackereth
        %p Neil chairs the trustees of the church, which oversee legal and financial aspects of the church.
      .col-md-4
        %h2 mike morell
        %p Mike looks after the church centre and coordinates the administration in the church, as well as being responsible for Sunday teams.
      .col-md-4
        %h3 clare sullivan
        %p Clare serves as our safeguarding officer, responsible for ...

%footer#wv-find-us
  .shadow
  .container
    .row
      .col-xs-12
        %h1 connect with us
    .row
      .col-sm-6
        %br
        %img.logo{:src => '/images/logo-50h-white-on-clear.png', :alt => "Winchester Vineyard Church"}
        %br
        %br
        Unit A, Bar End Industrial Estate
        %br
        Bar End Road
        %br
        Winchester
        %br
        SO23 9NP
        %br
        %br
        %a{:href => 'callto:+441962863217'} +44 (0) 1962 863 217
        %br
        Write to the staff team at
        %a{:href => 'mailto:hello@winvin.org.uk'} hello@winvin.org.uk
        %br
        %br
        %small
          == All content and images &copy; #{Time.now.year} Winchester Vineyard except where noted. All rights reserved.
          %br
          Winchester Vineyard is affiliated to VINEYARD&reg; CHURCHES UK and registered as a charitable company in England and Wales. Company No. 3073426. Charity No. 1047868.
        %br
        %br
      .col-sm-5.col-sm-offset-1
        %br
        %a{:href => 'https://maps.google.co.uk/maps?q=Winchester+Vineyard,+Winchester,+UK&hl=en&ll=51.052833,-1.306343&spn=0.138984,0.308647&sll=51.053319,-1.297975&sspn=0.017373,0.038581&t=m&z=12', :target => "_new"}
          %img.map{:src => 'http://maps.googleapis.com/maps/api/staticmap?center=Winchester+Vineyard+Winchester+UK+SO23+9NP&zoom=12&size=600x400&maptype=roadmap&markers=color:blue%7C51.052867,-1.306236&sensor=false'}
