#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section.white.wv-storehouse
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          Keep Connected
      .row
      .col-xs-12
        %p Like many other churches, we’ve had to make some changes during this season. Our church has not closed, but we are meeting in different ways!  We’re keeping this page as up to date as possible to help you stay connected with our core activities.  
        %h2 new to church
        %p
          We’d love to get to know you over a phone call or a virtual coffee. Please do 
          %a{:href => 'mailto:hello@winvin.org.uk'} email the office 
          and we will arrange a telephone or zoom call with one of our team.
        %p
        %h2 sundays
        %p 
          Although we can’t physically gather in our building, we are hosting a Sunday livestream, featuring worship and a talk - we'd love you to join us! You can tune in live every Sunday morning at 10:30 on our 
          %a{:href => 'https://www.facebook.com/winchestervineyardchurch/'} Facebook Page
          where you will be able to comment and engage live. If you are not able to watch on facebook head to
          %a{:href => 'http://www.winvin.org.uk/live/'} winvin.org.uk/live.
          %br 
        %h2 points of connection
        %p  
          Daily Devotion with Paul at 8am on weekday mornings - Live on our 
          %a{:href => 'https://www.facebook.com/winchestervineyardchurch/'} Facebook Page here.
          %br
          Vineyard Classics Live worship with Nigel - 
          %a{:href => 'https://www.facebook.com/nigel.hemming/videos/vb.642935822/10157232871400823/?type=2&video_source=user_video_tab'} Nigel’s facebook page.
          %br
          Breakthrough Prayer Zoom gathering, Monday 6th April at 8pm - 
          %a{:href => 'https://winvin.churchsuite.co.uk/events/isf4unmy'} details here.
          %br  
          Kids Worship with Nigel, Fridays at 6pm - Live on our 
          %a{:href => 'https://www.facebook.com/winchestervineyardchurch/'} Facebook Page here.
          %br
          %h2 resources
        %p
          Our Sunday follow up links and resources, along with some other helpful material for times of prayer or devotion can all be found on our
          %a{:href => 'https://www.winvin.org.uk/resources/'} Resources page.
          %br
        %h2 lifegroups
        %p
          Life groups have always been our key places to connect during the week and even though they are meeting digitally rather than physically they remain vital in this season.  Most groups are staying connected through WhatsApp chats and video calls. If you are not in a group, it’s not too late to join one! Check out our
          %a{:href => '../lifegroups'} Life Group list here!
          %br
        %h2 youth
        %p
          We believe it is so important that our young people stay connected and engaged through this challenging, unprecedented season. We are meeting on zoom twice a week - Sundays at 11:30am and Thursdays at 7pm. We also have an instagram group chat - follow us
          %a{:href => 'https://www.instagram.com/winchestervineyardyouth/'} here
          to be added! All of this information has been emailed to parents - if you have any questions please email
          %a{:href => 'mailto:chrisb@winvin.org.uk'} chrisb@winvin.org.uk
          %br 
        %h2 kids
        %p
          We want to make sure our children can remain engaged! A range of colouring and activity funsheets and other suggested resources are being sent out to parents each week - and we have created a new private 
          %a{:href => 'https://www.facebook.com/groups/winchestervineyardkids/'} facebook page 
          for parents to connect. We will be sharing fun interactive activities for you and your kids to get involved with - see the email from Louise for all details.
        %h2 storehouse
        %p 
          If you are in need of food or children's clothing at this time, or you are able to donate food or time to help the storehouse - all the relevant information about the storehouse is 
          %a{:href => '../storehouse'} available here.  
        %h2 financial giving
        %p 
          While church looks a bit different for a while, the best way to give financially to Winchester Vineyard is still online 
          %a{:href => 'https://winvin.churchsuite.co.uk/donate/fund/wywg9uaa/'} – Click here. 
          Cheques can be posted to us, but please don’t post cash. Cash or cheques can be also dropped off at the office by arrangement. Please call or email the office.
        %h2 have you got stories
        %p 
          We love to hear your stories! Have you been inspired into action through a sermon series? Stepped out of your comfort zone to be Jesus in your community? Maybe you've been healed? Has God's love and peace filled you when you've needed it most? God is doing amazing things all the time and we would LOVE to hear about it. Please email your stories and pictures to us at
          %a{:href => 'mailto:stories@winvin.org.uk'} stories@winvin.org.uk
        %h2 office
        %p 
          The office team will be checking phone messages and emails regularly. If you have an urgent request, the best way to contact us is via email - 
          %a{:href => 'mailto:hello@winvin.org.uk'} hello@winvin.org.uk 
          or you can call 01962 863 217 and leave a message.
          %p Page last updated: 31/03/2020
