!!! 5
:plain
  <!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
%head
  %meta{:charset => "utf-8"}/
  %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no", :name => "viewport"}/
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
  %meta{:content => "We are Winchester Vineyard Church: people who are getting to know Jesus better and bringing hope and life into our communities.", :name => "description"}/
  %meta{:content => "HTML,CSS,XML,JavaScript,Template,HTML5,CSS3,JS,jQuery,Ajax,portfolio,single-page,one-page,Theme,bootstrap,bootstrap 3,twitter,facebook,instagram", :name => "keywords"}/
  %title Winchester Vineyard
  %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
  %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
  %link{:href => "/css/font-awesome.min.css", :rel => "stylesheet"}/
  %link{:href => "/css/styleguide.css", :rel => "stylesheet"}/
  %link{:href => "/css/styles.css", :rel => "stylesheet"}/
  %script#wv-news-item-template{:type => 'text/template'}
    = haml :_news_item
  %script#wv-talk-item-template{:type => 'text/template'}
    = haml :_talk_item
%body
  = yield
  %footer#wv-find-us
    .shadow
    .container
      .row
        .col-xs-12
          %h1 connect with us
      .row
        .col-sm-6
          %br
          %img.logo{:src => '/images/logo-50h-white-on-clear.png', :alt => "Winchester Vineyard Church"}
          %br
          %br
          %a{:href => 'callto:+441962863217'} +44 (0) 1962 863 217
          %br
          %br
          Write to the staff team at
          %a{:href => 'mailto:hello@winvin.org.uk'} hello@winvin.org.uk
          %br
          %br
          Unit A, Bar End Industrial Estate
          %br
          Bar End Road
          %br
          Winchester
          %br
          SO23 9NP
          %br
          %br
          %a{:style => 'text-decoration: none', :href => "http://twitter.com/winvinchurch"}
            %i.fa.fa-twitter
            @winvinchurch
          %br
          %a{:style => 'text-decoration: none', :href => "https://www.facebook.com/pages/Winchester-Vineyard-Church/131929260309690?ref=bookmarks"}
            %i.fa.fa-facebook
            find us on facebook
          %br
          %br
          %small
            == All content and images &copy; #{Time.now.year} Winchester Vineyard except where noted. All rights reserved.
            %br
            Winchester Vineyard is affiliated to VINEYARD&reg; CHURCHES UK and registered as a charitable company in England and Wales. Company No. 3073426. Charity No. 1047868.
            %br
            %br
            Pub candle image by
            %a{:href => 'https://www.flickr.com/photos/pavlinajane/11038343086/in/photolist-k3cREZ-dvEZD6-fte1jE-hCJka1-mWFa3a-iZXbqp-mxDBM-4eWRcf-nUM8mJ-2tbHJM-eD7GR-kTTjbK-ahW9fu-32rnhz-hVFUmL-hPqoQ7-d8ZXa-4PpaLT-gZXtF4-nSsvU6-6CRJfQ-fphCKJ-efiq3q-7ncr52-9itFVa-hwQubw-4BTpHN-9kR8JD-3VEH7-8Xdpfw-hPsYLB-VUPAw-hR5CPh-aPTjM4-ii6xvR-oDFvAh-os1u4J-4E9jxC-5WPps5-hPCud6-oEq6aA-2EUaqK-7futoT-bR9Am-npPZBM-kqacS-bk8Wjq-7TkJNg-9cuGSB-pUGfL'} Pavlina Jane
          %br
        .col-sm-5.col-sm-offset-1
          %br
          %a{:href => 'https://maps.google.co.uk/maps?q=Winchester+Vineyard,+Winchester,+UK&hl=en&ll=51.052833,-1.306343&spn=0.138984,0.308647&sll=51.053319,-1.297975&sspn=0.017373,0.038581&t=m&z=12', :target => "_new"}
            %img.map{:src => 'http://maps.googleapis.com/maps/api/staticmap?center=Winchester+Vineyard+Winchester+UK+SO23+9NP&zoom=12&size=600x400&maptype=roadmap&markers=color:blue%7C51.052867,-1.306236&sensor=false'}
  %script{:src => "/js/jquery.js"}
  %script{:src => "/js/custom.modernizr.js"}
  %script{:src => "/js/bootstrap.min.js"}
  %script{:src => "/js/jquery.toplink.js"}
  %script{:src => "/js/mustache.js"}
  %script{:src => "/js/markdown.min.js"}
  %script{:src => "/js/strftime.min.js"}
  %script{:src => "/js/scripts.js"}
  %script{:src => 'https://cdn.firebase.com/v0/firebase.js', :type => 'text/javascript'}
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-431118-6', 'auto');
    ga('send', 'pageview');
