!!! 5
:plain
  <!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
%head
  %meta{:charset => "utf-8"}/
  %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no", :name => "viewport"}/
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
  %meta{:content => "Responsive Single Page HTML5 CSS3 Template", :name => "description"}/
  %meta{:content => "HTML,CSS,XML,JavaScript,Template,HTML5,CSS3,JS,jQuery,Ajax,portfolio,single-page,one-page,Theme,bootstrap,bootstrap 3,twitter,facebook,instagram", :name => "keywords"}/
  %title Winchester Vineyard
  %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
  %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
  %link{:href => "/css/font-awesome.min.css", :rel => "stylesheet"}/
  %link{:href => "/css/styleguide.css", :rel => "stylesheet"}/
  %link{:href => "/css/styles.css", :rel => "stylesheet"}/
  %script#wv-news-item-template{:type => 'text/template'}
    = haml :_news_item
  %script#wv-talk-item-template{:type => 'text/template'}
    = haml :_talk_item
%body
  = yield
  %script{:src => "/js/jquery.js"}
  %script{:src => "/js/custom.modernizr.js"}
  %script{:src => "/js/bootstrap.min.js"}
  %script{:src => "/js/jquery.toplink.js"}
  %script{:src => "/js/mustache.js"}
  %script{:src => "/js/strftime.min.js"}
  %script{:src => "/js/scripts.js"}
  %script{:src => 'https://cdn.firebase.com/v0/firebase.js', :type => 'text/javascript'}
