#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section.white
  .shadow
  .container
    .row
      .col-xs-12
        %h1 life groups
    .row
      .col-md-12
        %p
          We are currently accepting signups for life groups running during the Summer term 2016. Groups start the first week in June and run until the end of August.

        %p
          %strong Please sign up even if you're planning on going to your existing group!

      -#.col-md-6
        -#:plain
          -#<iframe src="https://player.vimeo.com/video/123932962" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    .row
      .col-xs-12
        %h2 how to sign up for a group
        %ul
          %li Scroll down the list of groups on this page and choose a group you're interested in attending this term.
          %li Click 'sign-up to this group' and fill in your details at the bottom, and then click 'sign up'. Click confirm on the next page and you're all done!
          %li
            If you are a church member with a My Church App account, you can also visit
            %a{:href => 'https://winvin.churchapp.co.uk/my'}My Church App
            and click "My Groups" to get a list of groups you can sign up to.
    .row
      %h2 life group list
      :plain
        <iframe frameborder="0" height="500" scrolling="yes" src="https://winvin.churchapp.co.uk/embed/smallgroups/list?body_bgcolor=efefef&group_bgcolor=ffffff&group_border_color=ffffff&avatar_bgcolor=1B5CA0&heading_color=1b5ca0&text_color=444444&icon_color=8e8e8e" style="border-width:0" width="100%"></iframe>
      %h2 map
      :plain
        <iframe frameborder="0" height="500" scrolling="yes" src="https://winvin.churchapp.co.uk/embed/smallgroups/map" style="border-width:0" width="100%"></iframe>
