#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section#wv-donate.white
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          livestream
    .row
      .container
        %p
          Welcome to our livestream page. We are sorry for the technical issues some people experienced on this page last Sunday (22nd March). We have been working hard to resolve these for this week. If you do experience any issues, please join us on our facebook page - Winchester Vineyard Church - also linked below.
          %br
          We will be live here every Sunday at 10:30. If you cannot see the live video after 10:30 please refresh your browser or come and join us on the facebook livestream
          %a{:href => 'https://www.facebook.com/winchestervineyardchurch/'} here.
          %br
          You can find any of our previous broadcasts on our YouTube channel,
          %a{:href => 'https://www.youtube.com/channel/UCrz4VsDe4tuh3A8IhWT7ztA'} here.
          %br
          %h2 Live video:
        %p
          %img{:src => '/images/holdingpage.png', :style=> 'width: 1280px, align: center, text-align: center;'}
          // <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fwinchestervineyardchurch%2Fvideos%2F220903882440061%2F&width=1280" width="100%" height="720" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
        // %h2 follow up links
          %p
          Worship: 
          %a{:href => 'https://www.youtube.com/watch?v=Zp4wJ12L3qo'} I Life My Eyes Up (Psalm 121) 
          %br
          Prayer: 
          %a{:href => 'https://www.youtube.com/watch?v=bHnSSmF0HQc'} The Daily Examen (with Dan Wilt)
          %br
          Action: 
          %a{:href => 'https://www.vineyardchurches.org.uk/resources/viral-kindness/'} Viral Kindness (postcards)
          %br
          NLC Talk: 
          %a{:href => 'https://www.vineyardchurches.org.uk/resources/becoming-a-non-anxious-presence/'} Becoming a Non-Anxious Presence (John Mark Comer)
          %br
          Join in with: 
          %a{:href => 'https://www.vineyardchurches.org.uk/resources/national-day-of-prayer/'} the National Day of Prayer. Sunday 22 March 7pm
