#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section#wv-donate.white
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          livestream
    .row
      .container
        %p
          Kids Activity Sheet to print at home - 
          %a{:href => 'https://drive.google.com/a/winvin.org.uk/file/d/1Rq56A3_6loUKgzKX6QFPHw1ICkEJDpQk/view?usp=sharing'} Click Here
        %p
          %img{:src => '/images/holdingpage.png', :style=> 'width: 1280px, align: center, text-align: center;'}
          // IFRAME WIDTH 100%
          //<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FChrisMMBenfield%2Fvideos%2F2898825367003238%2F&width=1280" width="100%" height="720" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
          %br
          %br
