#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section#wv-donate.white
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          livestream
    .row
      .container
        %p
          Welcome to our livestream page. The BEST place to find our Live Service is on our 
          %a{:href => 'https://www.facebook.com/winchestervineyardchurch/'} Facebook page here 
          at 10:30am on Sunday morning. 
          %br
          %p If you are not on Facebook, you can watch the service here - if you cannot see the video below after 10:30am, please refresh your browser.
        %p 
          You can find any of our previous broadcasts on our
          %a{:href => 'https://www.youtube.com/channel/UCrz4VsDe4tuh3A8IhWT7ztA'} YouTube channel here.
          %br
        %p 
          Resources - Follow up links and Kids Fun Sheet and Activites for the Service can be 
          %a{:href => 'http://winvin.org.uk/resources'} found here.
          %br
          %h1 Live video:
        %p
          //<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fwinchestervineyardchurch%2Fposts%2F1510966922405910&width=500" width="500" height="496" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
          <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fwinchestervineyardchurch%%2Fvideos%2F167482327921947%2F&width=1280" width="100%" height="720" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
          //%img{:src => '/images/holdingpage.png', :style=> 'width: 1280px, align: center, text-align: center;'}
        %p
