#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section#wv-donate.white
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          livestream
    .row
      .container
        %p
          Welcome to our livestream page. We will be live here just after 10:30 am.
          %br
          We'd love you to come and interact with us on the facebook livestream
          %a{:href => 'https://www.facebook.com/winchestervineyardchurch/'} here.
        %p
          Kids Activity Sheet to print at home - 
          %a{:href => 'https://drive.google.com/a/winvin.org.uk/file/d/1Rq56A3_6loUKgzKX6QFPHw1ICkEJDpQk/view?usp=sharing'} Click Here
        %p
          <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fwinchestervineyardchurch%2Fvideos%2F220903882440061%2F&width=1280" width="100%" height="720" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
          %br
        %p
        %h2 follow up links
        %p
        Worship: 
        %a{:href => 'https://www.youtube.com/watch?v=Zp4wJ12L3qo'} I Life My Eyes Up (Psalm 121) 

        Prayer: 
        %a{:href => 'https://www.youtube.com/watch?v=bHnSSmF0HQc'} The Daily Examen (with Dan Wilt)

        Action: Viral Kindness (postcards)
        %a{:href => 'https://www.vineyardchurches.org.uk/resources/viral-kindness/'} The Daily Examen (with Dan Wilt) 
        
        NLC Talk: 
        %a{:href => 'https://www.vineyardchurches.org.uk/resources/becoming-a-non-anxious-presence/'} Becoming a Non-Anxious Presence (John Mark Comer)

        Join in with: 
        %a{:href => 'https://www.vineyardchurches.org.uk/resources/national-day-of-prayer/'} the National Day of Prayer. Sunday 22 March 7pm
        %br
