#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section.white.wv-storehouse
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          Resources
      .row
      .col-xs-12
        %p Like many other churches, we’ve had to make some changes during this season. Our church has not closed, but we are meeting in different ways! 
        %p If you are looking for Resources during this period to help you reflect or pray, please find below some things that we have referred to during our Sunday Livestream services, or that we think might be helpful.
        %h2 sundays
        %p 
          On Sunday mornings at 10:30am, we would love you to join us for our Sunday service 
          %a{:href => 'https://www.facebook.com/winchestervineyardchurch/'} Live on our Facebook page
        %p 
          All our past Sunday talks and worship sessions can be found on our 
          %a{:href => 'https://www.youtube.com/channel/UCrz4VsDe4tuh3A8IhWT7ztA/'} Winchester Vineyard YouTube channel. 
          These might be useful for your own times of devotion or you can share them with friends.
        %p  
          Sunday 29 March - Our theme was 'Safe Place to Hide'. Here are the follow up links:
        %p
          %a{:href => 'https://downloads.24-7prayer.com/prayer_course/2019/resources/pdfs/17%20Silent%20Prayer.pdf'} Silent Prayer Tool
          %br
          %a{:href => 'https://prayercourse.org/session/contemplation/'} Prayer Course Contemplation Session
          %br
          %a{:href => 'https://drive.google.com/open?id=1U5KRJczql5t-x8hyMGIQve-Tu8yTL8pu&authuser=nigel.hemming@winvin.org.uk&usp=drive_fs'} Kids Fun Page
          %br
        %h2<b>prayer</b>
        %p  
          Here are some resources for prayer
        %p
        %h2 kids
        %p
          A range of colouring and activity funsheets and other suggested resources are being sent out to parents via email each week - and we have created a new private 
          %a{:href => 'https://www.facebook.com/groups/winchestervineyardkids/'} facebook page 
        %p  
        %h2 points of connection
        %p  
          For points of connection, such as a Daily Reflection with Paul, worship with Nigel, Zoom prayer gatherings, Life Groups, Kids worship and Youth gatherings, please visit our 
          %a{:href => 'https://www.winvin.org.uk/keepconnected/'} Keep Connected page
        %p  
        %h2 have you got stories
        %p 
          We love to hear your stories! God is doing amazing things all the time and we would LOVE to hear about it. Please email your stories and pictures to us at
          %a{:href => 'mailto:stories@winvin.org.uk'} stories@winvin.org.uk
        %p
        %h2 office
        %p 
          The office team will be checking phone messages and emails regularly. If you have an urgent request, the best way to contact us is via email. 
          %br
          To contact us please email hello@winvin.org.uk or call 01962 863217.
          %p
