#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section.white.wv-storehouse
  .shadow
  .container
    .row
      .col-xs-12
    .row
      %img{:src => '/images/web-Resources-1920x540.jpg', :style=> 'width: 960px;'}
      .col-xs-12
        %h1
          Resources
      .row
      .col-xs-12
        %p Like many other churches, we’ve had to make some changes during this season and meet in different ways! 
        %p If you are looking for Resources during this period to help you connect with God, reflect or pray, we hope you will find the information and links below helpful. This page includes all of the material linked to our Sunday Livestream services.
        %h2 sundays
        %p 
          On Sunday mornings at 10:30am, we would love you to join us for our Sunday service 
          %a{:href => 'https://www.facebook.com/winchestervineyardchurch/'} Live on our Facebook page
        %p 
          All our past Sunday services, as well as the individual talks and worship sessions, can be found on our 
          %a{:href => 'https://www.youtube.com/channel/UCrz4VsDe4tuh3A8IhWT7ztA/'} Winchester Vineyard YouTube channel. 
          These might be useful for your own times of devotion or you can share them with friends.
        %p  
          Sunday Resources and Kids Activity sheets can be found on the Morning Service page 
          %a{:href => 'https://www.winvin.org.uk/#wv-news/'} - Click here.
          And will also be posted on our Facebook pages.
          %br
        %h2 prayer
        %p  
          %a{:href => 'https://www.24-7prayer.com/coronavirusprayer/'} 24-7 Coronavirus Prayer Resources 
          %br 
          %a{:href => 'https://www.24-7prayer.com/downloads/coronavirus_prayer.pdf'} Pete Greig's Coronavirus Prayer
          %br 
          %a{:href => 'https://24-7prayer.com/downloads/An%20Hour%20of%20Prayer%20for%20the%20Coronavirus%20Pandemic.pdf'} 60 minute Prayer Guide for Coronavirus
          %br
          %a{:href => 'https://prayercourse.org/toolshed/'} The Prayer Course Toolshed
          %br
          %a{:href => 'https://drive.google.com/file/d/1zF8-gKpslgOdn3usmuKaQAZLZ7ZKrsWr/view?usp=sharing/'} Prayer Card 
          to help you divide an hour in to four or twelve areas of prayer.
          %br 
        %h2 kids
        %p
          A range of colouring and activity funsheets and other resources are being sent out to parents via email each week - and we have created a new private 
          %a{:href => 'https://www.facebook.com/groups/winchestervineyardkids/'} facebook page 
          for parents to share resources.
        %p
        %h2 connection
        %p  
          For points of connection, such as a Daily Reflection with Paul, worship with Nigel, Zoom prayer gatherings, Life Groups, Easter events, Kids worship and Youth gatherings, please visit our 
          %a{:href => 'https://www.winvin.org.uk/keepconnected/'} Keep Connected page
        %p  
        %h2 stories
        %p 
          We love to hear your stories! God is doing amazing things all the time and we would LOVE to hear about it. Please email your stories and pictures to us at
          %a{:href => 'mailto:stories@winvin.org.uk'} stories@winvin.org.uk
        %p
        %h2 office
        %p 
          The office team will be checking phone messages and emails regularly. If you have an urgent request, the best way to contact us is via email - 
          %a{:href => 'mailto:hello@winvin.org.uk'} hello@winvin.org.uk
