#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section.white.wv-storehouse
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          Resources
      .row
      .col-xs-12
        %p Like many other churches, we’ve had to make some changes during this season. Our church has not closed, but we are meeting in different ways!  We’re keeping this page as up to date as possible to help you stay resourced. If you are looking for Resources during this period to help you reflect or pray, please find below some things that we have referred to during our Sunday Livestream services, or that we think might be helpful.
        %h2 sundays
        %p 
          All our Sunday talks and worship sessions can be found on the Winchester Vineyard YouTube channel. These might help you to worship God or you can share them with friends. Although we can’t physically gather in our building, we are hosting a Sunday livestream, featuring worship and a talk - we'd love you to join us! You can tune in live every Sunday morning at 10:30 on our facebook page at 
          %a{:href => 'https://www.facebook.com/winchestervineyardchurch/'} facebook.com/winchestervineyardchurch
          where you will be able to comment and engage live. If you are not able to watch on facebook or you'd like to find out how to watch a previous livestream, head to
          %a{:href => 'http://www.winvin.org.uk/live/'} winvin.org.uk/live.
        %p  
          Sunday 29 March:
        %p
          %a{:href => 'https://downloads.24-7prayer.com/prayer_course/2019/resources/pdfs/17%20Silent%20Prayer.pdf'} Silent Prayer Tool
          %br
          %a{:href => 'https://prayercourse.org/session/contemplation/'} Prayer Course Contemplation Session
          %br
          %a{:href => 'https://drive.google.com/open?id=1U5KRJczql5t-x8hyMGIQve-Tu8yTL8pu&authuser=nigel.hemming@winvin.org.uk&usp=drive_fs'} Kids Fun Page.
          %br
        %h2 prayer
        %p  
          Here are som resources for prayer.
        %h2 kids
        %p
          We want to make sure our children can remain engaged! A range of colouring and activity funsheets and other suggested resources are being sent out to parents each week - and we have created a new private 
          %a{:href => 'https://www.facebook.com/groups/winchestervineyardkids/'} facebook page 
          for parents to connect. We will be sharing fun interactive activities for you and your kids to get involved with - see the email from Louise for all details.
        %h2 points of connection
        %p  
          For points of connection, such as Thought for the day with Paul, worship with Nigel, Zoom prayer gatherings, Life Groups, and Youth gatherings, please visit our Keep Connected page: 
          %a{:href => 'https://www.winvin.org.uk/keepconnected/'} here.
          %br
        %h2 have you got stories
        %p 
          We love to hear your stories! Have you been inspired into action through a sermon series? Stepped out of your comfort zone to be Jesus in your community? Maybe you've been healed? Has God's love and peace filled you when you've needed it most? God is doing amazing things all the time and we would LOVE to hear about it. Please email your stories and pictures to us at
          %a{:href => 'mailto:stories@winvin.org.uk'} stories@winvin.org.uk
        %h2 office
        %p 
          The office team will be checking phone messages and emails regularly. If you have an urgent request, the best way to contact us is via email. 
          %br
          To contact us please email hello@winvin.org.uk or call 01962 863217.
          %p Page last updated: 26/03/2020
