#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section#wv-donate.white
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          bethel sozo
    .row
      .col-xs-12
        %p Thank you for your interest in Bethel Sozo Winchester.

        %p
          Our Sozo’s take place at the Winchester Vineyard Church. If this location is not convenient, there are many other churches that offer this ministry and you can check for the closest one to you -
          %a{:href => 'http://www.bethelsozo.org.uk/get-a-sozo'} click here
          for a list.

        %p To Apply for a Sozo at Winchester Vineyard, please read this page and click on the Application link below. We will then be in touch to confirm the receipt of your form, within the next two weeks.

        %h2 Please Note

        %p
          For the value of the time spent ministering to you, there is a suggested donation of £20 ‐ £40. You can donate, at your appointment by cash or cheque (write Bethel Sozo on the back and make cheques payable to: Winchester Vineyard Christian Fellowship), or by Direct Bank Transfer at your convenience. - please transfer funds to Winchester Vineyard (Account No. 00902032 Sort Code: 12-11-03) with SOZO, your surname and initial as the reference. If you are a tax payer then you can gift‐aid your donation – please download a gift‐aid form -
          %a{:href => 'http://winvin.org.uk/bethel-sozo/forms/SOHgivingform.pdf'} click here
          and return it to the Winchester Vineyard.

        %p The word Sozo is the Greek translation meaning Saved, Healed, Delivered. It is a unique inner healing and deliverance ministry that was developed in Bethel Church, Redding, California by Dawna De Silva and Teresa Liebscher. It is now an international ministry reaching into 80 countries.
        %p
          We are privileged at Winchester Vineyard to be a part of this ministry in the UK. You can find out more from the
          %a{:href => 'http://www.bethelsozo.org.uk/'}UK Bethel Sozo website.
        %p The whole aim of a Sozo session is to connect you in the deepest way to Father, Son and Holy Spirit by asking the Holy Spirit to reveal the wounds and lies that may be preventing this. A set of tools are used to facilitate the session. This is done during a 2 hour prayer session with 2 trained individuals. One of these will lead the session and the other will be a prayer support. Occasionally a third person will be present to observe and learn about the Sozo process.
        %p
          When you feel ready, please fill in our detailed
          %a{:href => 'https://goo.gl/forms/Z3wtA96GjwPHWegh1'} Bethel Sozo Application form.
        %p
          For further information or if you have queries, please email
          %a{:href => 'mailto:admin@streamsofhope.org.uk'} Streams of Hope.
