#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section.white
  .shadow
  .container
    .row
      .col-xs-12
        %h1 spread love
    .row
      .col-md-12
        = haml :_group_blurb, locals: { term: @term }

      -#.col-md-6
        -#:plain
          -#<iframe src="https://player.vimeo.com/video/123932962" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    .row
      .col-xs-12
        %h2 how to sign up for a group
        %ul
          %li 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id vehicula orci. Etiam pretium viverra sem a maximus. Quisque hendrerit varius erat, vitae volutpat ex mollis sit amet. Mauris id accumsan magna. Nulla facilisi. Suspendisse sit amet sodales tellus, a tristique sem. Etiam semper nisi erat, at ornare nisi rutrum fringilla. Nulla suscipit turpis non quam convallis, vel pulvinar purus ullamcorper. Integer tristique viverra tortor non facilisis. Cras id aliquam libero. Suspendisse id nunc vel tortor interdum rutrum sed id sapien. Quisque sed mauris faucibus, aliquam quam eget, auctor urna. Suspendisse vel placerat leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis nunc tortor, congue at dolor sit amet, porta rutrum libero. Vivamus dignissim magna a purus scelerisque pharetra in quis nulla.
            %a{:href => 'https://prayercourse.org/'} link
            this term. 
