#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section.white.wv-storehouse
  .shadow
  .container
    .row
      .col-xs-12
      .row
      %img{:src => '/images/The-Storehouse-logo.png', :style=> 'width: 250px;'}
      .col-xs-12
      %h1
          Storehouse
        %p Our Storehouse aims to provide good quality children’s clothing, equipment, toys and food. We work in partnership with over forty local agencies who are able to refer people to us through a voucher scheme.
        %p
        %h2 need help
        %p <b>if you need food and supplies because you need to self-isolate</b> 
        %p 
          Give us a ring (01962 863 217) or 
          %a{:href => 'mailto:storehouse@winvin.org.uk?subject=Help with food'} send an email 
        %p Let us know your situation and we will be in touch to work out how we can help.
        %p
        %p <b>If you have a voucher from one of our referral agencies</b>
        %p During this time we have suspended our regular drop in sessions on Mondays and Thursdays. We still aim to help those in need with children’s clothing, baby equipment and food as far as possible. In the first instance, please contact your referring agency and they may be able to contact us and collect items on your behalf. If not, please ring or email us and we will do our best to deliver to you.
        %p
        %br
        %br
        %h2 here to help
        %p 
          If you would like to get involved in helping at Storehouse, please 
          %a{:href => 'https://forms.gle/qQjwNzZ6JVUpjGRz5'} fill in this form 
          and we will add you to our standby list. 
        %p You can also help by;
        %p
        %p <b>Providing food</b>
        %p
          Please drop off food donations to our Church building. You can drop off food and household supplies anytime. When you arrive, please follow the instructions on the front door. Here is the
          %a{:href => 'https://docs.google.com/document/d/1VlnSSXPOcwze6BGTM3erj-e7ryO53CK-kchZDohobr0/edit?usp=sharing'} current list of food & Household items needed.
        %p <b>Providing household goods</b>
        %p We welcome donations of pantry food, toiletries, cleaning items and loo roll
        %p <b>Providing good quality, clean clothing</b>
        %p
          We are currently in need of the following items in particular -
          %a{:href => 'https://docs.google.com/document/d/1wzkTJF6JWdFqVKGEAXckJIH9dERF13dekcMf1EU1JuI'} current list of clothing items needed.
        %p  
          Our Street Teams are in need of the following items for distribution to the homeless -
          %a{:href => 'https://docs.google.com/document/d/1JonYs2-unfFQq8-9yxtjB6KQUPjl7vN4oGqVPkDwHes'} current list of items needed.
        %p
          You can donate financially by 
          %a{:href => 'https://winvin.churchsuite.co.uk/donate/fund/rdugebd1'} giving online here
        %p At this busy time we can ONLY take donations of the items we specifically need. We do not currently need toys, books, equipment, shoes, bedding or clothing other than those listed above. 
        %p 
        %p
        %p Thank you so much for your donations, your support is much appreciated!
        %br
        %br
        %h2 How to contact us
        %p
        %p <b>Address</b>
        %br Winchester Vineyard Church, 
        %br Unit A, Bar End Industrial Estate 
        %br Bar End Road
        %br Winchester 
        %br SO23 9NR
        %p <b>Phone</b>
        %br 01962 863217
        %br If no one answers, please leave a message with your details and requirements and we will get back to you ASAP
        %p <b>Email</b>
        %br storehouse@winvin.org.uk

        
