#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section.white.wv-storehouse
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          storehouse
      .row
      .col-xs-12
        %p The Storehouse is open on Mondays & Thursdays in term time, from 10am-12:30pm

        %p Need some help?

        %p If you are struggling to buy food, household items, or children's clothing or equipment, please do speak to your support worker, ask for a voucher, or call us to book an appointment – 01962 863 217. We will help you find just the right items for you.
        
        %p 
        %h2
        Want to make a donation?
        
        If you want to make a donation of items to The Storehouse, please read these guidelines:
        %br
        All items must be in good clean condition.

        %p 
        %h2
        We can currently accept donations of:
        %p •	clothing for children aged 2-16 years
        %p •	baby monitors
        %p •	moses baskets
        %p •	twin pushchairs 
        %p •	stair gates
        %p •	food, toiletries or household items - see our list here
        
        %p We are sorry we can not take any other baby equipment or children’s toys at this time.
        
        %p It is our desire to provide the best possible clothing, equipment and food for our clients. 
        
        %p Please leave donations in our office foyer during office hours Mon-Fri 10am-3pm. Thank you!
        
        %p Any queries, please call 01962 863 217 or email: storehouse@winvin.org.uk
        
        %br Someone is normally in the office to take calls Mon - Fri 10am-3pm.
        
        %br How to Find us: Winchester Vineyard Church, Unit A Bar End Industrial Estate, Bar End Road, Winchester, SO23 9NR
        
        
