#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section.white.wv-storehouse
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          storehouse
      .row
      .col-xs-12
        %p The Storehouse is open on Mondays & Thursdays <b>in term time</b>, from 10am-12:30pm. 
        %p From 10 Nov - 15 Dec, we are collecting donations towards Christmas Hampers - to find out what items we are collecting 
        %a{:href => 'https://winvin.churchsuite.co.uk/events/w0irpja4'} click here.
        %p Thank you!

        %p <b>Need some help?</b>

        %p If you are struggling to buy food, household items, or children's clothing or equipment, please do speak to your support worker, ask for a voucher, or call us to book an appointment – 01962 863 217. We will help you find just the right items for you.
        
        %p
          <b>Want to make a donation?</b>
        
        %p If you want to make a donation of items to The Storehouse, please read these guidelines: All items must be in good clean condition.

        %p 
        %p
          <i>We can currently accept donations of:</i>
        %p •	clothing for premature babies
        %p •	baby monitors
        %p •	twin pushchairs 
        %p •	stair gates
        %p •	food, toiletries or household items -
        %a{:href => 'https://s3-eu-west-1.amazonaws.com/winchester-vineyard-website-assets/uploads/fs-full-list.pdf'} See our full Food, Household & Toiletry Bag lists here.
        
        %p 
        %p <i>We are sorry we can not take any other baby equipment or children’s toys at this time.</i>
        
        %p It is our desire to provide the best possible clothing, equipment and food for our clients. 
        
        %p 
        %p 
          <b>Please leave donations in our office foyer during office hours Mon-Fri 10am-3pm (term time only!). Thank you!</b>
        
        %p Any queries, please call 01962 863 217 or email: storehouse@winvin.org.uk. Someone is normally in the office Mon - Fri 10am-3pm. 
        
        %p <b>How to Find us:</b> Winchester Vineyard Church, Unit A Bar End Industrial Estate, Bar End Road, Winchester, SO23 9NR
        
        
