#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section.white.wv-storehouse
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          the storehouse - during coronavirus
      .row
      .col-xs-12
        %p In an effort to protect those more vulnerable in our community, we have decided The Storehouse will be closed during this time, except by appointment.
        %p
        %p Please call your agency worker or Winchester Vineyard on 01962 863 217 if you have urgent needs or wish to redeem a Storehouse voucher. Please leave a message if your call is not answered and we will get back to you as soon as possible. Alternatively you can email us.
        %p
        %p With the current outbreak, we would like to focus our efforts on specific needs, such as getting food to the isolated, so we are not taking any clothing or equipment donations at this time.
        %p
        %p We welcome donations of pantry food, toiletries, household cleaning items and loo roll, which we will distribute to those in isolation and need in this time. 
        %p
        %p Thank you for your co-operation and understanding.
        %p
        %p
        %p-----------------------------------------------------------------------------------------------
        %p
        %p The Storehouse is normally open on Mondays & Thursdays <b>in term time</b>, from 10am-12:30pm.
        %p

        %p <b>Need some help?</b>

        %p If you are struggling to buy food, household items, or children's clothing or equipment, please do speak to your support worker, ask for a voucher, or call us to book an appointment – 01962 863 217. We will help you find just the right items for you.
        
        %p
          <b>Want to make a donation?</b>
        
        %p If you want to make a donation of items to The Storehouse, please read these guidelines: All items must be in good clean condition.

        %p 
        %p
          <i>We currently can not accept donations of:</i>
        %p •	clothing
        %p •	baby equipment
        %p •	toys
        %p It is our desire to provide the best possible clothing, equipment and food for our clients. 
        
        %p 
        %p 
          <b>Please leave donations in our office foyer during office hours Mon-Fri 10am-3pm (term time only!). Thank you!</b>
        
        %p Any queries, please call 01962 863 217 or email: storehouse@winvin.org.uk. Someone is normally in the office Mon - Fri 10am-3pm. 
        
        %p <b>How to Find us:</b> Winchester Vineyard Church, Unit A Bar End Industrial Estate, Bar End Road, Winchester, SO23 9NR
        
        
