#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section.white.wv-storehouse
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          the storehouse - during coronavirus
      .row
      .col-xs-12
        %p In an effort to protect those more vulnerable in our community, we have decided The Storehouse will be <b>Closed to visitors</b> during this time, except by appointment. We will be directing our efforts towards those who are isolated during this time. 
        %p
        %p Please call your agency worker or Winchester Vineyard on 01962 863 217 if you have urgent needs or wish to redeem a Storehouse voucher. Please leave a message if your call is not answered and we will get back to you as soon as possible. Alternatively you can email us - storehouse@winvin.org.uk.
        %p
        %p With the current outbreak, we would like to focus our efforts on specific needs, such as getting food to the isolated, so <b>we are not taking any clothing or equipment donations</b> at this time.
        %p
        %p We <b>welcome donations</b> of pantry food, toiletries, household cleaning items and loo roll, which we will distribute to those in isolation and need in this time.
        %p
          <b>Please leave donations in our office foyer during office hours Mon-Fri 10am-3pm. Thank you!</b>
        %p
        %p Thank you for your co-operation and understanding.
        
        %p Any queries, please call 01962 863 217 or email: storehouse@winvin.org.uk. Someone is normally in the office Mon - Fri 10am-3pm. 
        
        %p <b>How to Find us:</b> Winchester Vineyard Church, Unit A Bar End Industrial Estate, Bar End Road, Winchester, SO23 9NR
        
        
