#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section.white.wv-storehouse
  .shadow
  .container
    .row
      .col-xs-12
    .row
      %img{:src => '/images/The-Storehouse-logo.png', :style=> 'width: 250px;'}
      .col-xs-12
        %h1
          Storehouse
      .row
      .col-xs-12
        %p Our Storehouse aims to provide good quality children’s clothing, equipment, toys and food. We work in partnership with over forty local agencies who are able to refer people to us through a voucher scheme.
        %a{:href => "https://www.picktime.com/4088dc8d-ab27-4e14-bf68-213cee18666f", :style => "position: fixed;right: 0px;top: 50%;margin-top: -90px;float:none;z-index: 9999999"}
          %img{:border => "none", :src => "https://www.picktime.com/bookingPage/img/picktime-book-online-right.png", :alt => "Book an appointment with Compassion Storehouse"}
        %br
        %h2 need help
        %p <b>If you have a voucher from one of our referral agencies</b>
        %p
          We are still able to operate during the current national lockdown but are unable to book appointments for clients. Instead please ask your referral agency to contact us on your behalf by emailing 
          %a{:href => 'storehouse@winvin.org.uk?subject=Help%20with%20food'} storehouse@winvin.org.uk 
          and we can discuss your requirements with them.
        %p
        %p Your referring agency can also contact us and book appointments on your behalf if needed.
        %p <b>If you are unsure who could refer you to us</b>
        %p 
          Give us a ring (01962 863 217) 
          %a{:href => 'storehouse@winvin.org.uk?subject=Help%20with%20food'} or send an email. 
        %p
        %p Let us know your situation and we will be in touch to work out how we can help.
        %p
        %br
        %br
        %h2 here to help
        %p 
          If you would like to get involved in helping at Storehouse, please 
          %a{:href => 'https://forms.gle/qQjwNzZ6JVUpjGRz5'} click here to fill in this form 
          and we will add you to our standby list. You can also help by:
        %p
        %p <b>Providing food & household goods</b>
        %p
          We welcome donations of food, toiletries & cleaning items. Here is the current list of items that we need -
          %a{:href => 'https://docs.google.com/document/d/1VlnSSXPOcwze6BGTM3erj-e7ryO53CK-kchZDohobr0/edit?usp=sharing'} click here.
        %p <b>Providing good quality, clean clothing and equipment</b>
        %p
          We are currently in need of the following items in particular -
          %a{:href => 'https://docs.google.com/document/d/1wzkTJF6JWdFqVKGEAXckJIH9dERF13dekcMf1EU1JuI'} click here.
        %p  
          Our Street Teams are in need of the following items for distribution to the homeless -
          %a{:href => 'https://docs.google.com/document/d/1JonYs2-unfFQq8-9yxtjB6KQUPjl7vN4oGqVPkDwHes'} click here.
        %p
        %p <b>Providing financial help</b>
        %p
          You can donate by 
          %a{:href => 'https://winvin.churchsuite.co.uk/donate/fund/rdugebd1'} giving online here
        %p 
        %p
        %p
        %p <b>Thank you</b> so much for your donations, your support is much appreciated!
        %br
        %br
        %h2 How to contact us
        %p
        %p 01962 863217 (If no one answers, please leave a message with your details and requirements and we will get back to you ASAP)
        %p
        %p storehouse@winvin.org.uk
        %p
        Winchester Vineyard Church
        %br
        Unit A, Bar End Industrial Estate
        %br
        Bar End Road
        %br
        Winchester 
        %br
        SO23 9NR

        
