#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section.white.wv-storehouse
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          Storehouse
      .row
      .col-xs-12
        %p Our Storehouse aims to provide good quality children’s clothing, equipment, toys and food. We work in partnership with over forty local agencies who are able to refer people to us through a voucher scheme.
        %p
        %h2 Need help
        %h3 Have a voucher from one of our referral agencies?
        %p During this time we have suspended our regular drop in sessions on Mondays and Thursdays. We still aim to help those in need with children’s clothing, baby equipment and food as far as possible. In the first instance, please contact your referring agency and they may be able to contact us and collect items on your behalf. If not, please ring or email us and we will do our best to deliver to you.
        %p
        %h3 Don’t have a voucher but find yourself needing help with food because you need to self-isolate? 
        %p Give us a ring or send an email describing your current situation and we will be in touch to deliver food to your doorstep if we are able.
        %p
        %h2 Support us
        %p If you would like to get involved in helping at Storehouse, please contact us using the details below and we will add you to our standby list. You can also help by;
        %p
        %h3 Providing food
        %p Please drop off food donations to our Church building. Reception is open from 9.30am-12.30pm each weekday, and some staff are around until later in the day. Please phone before leaving to make sure someone is able to receive the food. You can download our shopping list here….
        %h3 Household goods
        %p We welcome donations of pantry food, toiletries, cleaning items and loo roll
        %h3 Providing good quality, clean clothing
        %p  We are currently in need of the following items in particular…
        %p  Our Street Teams are in need of the following items for distribution to the homeless….
        %p You can donate financially by giving online here
        %p 
        %p Thank you for your support it is much appreciated!
        %p %h2 How to contact us
        %br
        %h3 Address
        %p %br Winchester Vineyard Church, %br Unit A, Bar End Indutsrail Estate %br Bar End Road %br Winchester %br SO23 9NR
        %h3 Phone
        %br 01962 863217
        %br If no one answers, please leave a message with your details and requirements and we will get back to you ASAP
        %br 
        %h3 Email
        %p storehouse@winvin.org.uk

        
