#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section.white
  .shadow
  .container
    .row
      .col-xs-12
        %h1 students
    .row
      .col-xs-8
        %p If you're going to be studying in Winchester in 2015, you are very welcome! Here are all the different things we've planned for the new year starting in September.
        %p
      .col-xs-4
        %p
          %a{:style => 'text-decoration: none', :href => "https://www.facebook.com/groups/626876147422692/"}
            %i.fa.fa-facebook
            Join our students / 20s facebook group
          %br
          %a{:style => 'text-decoration: none', :href => "http://twitter.com/winvinchurch"}
            %i.fa.fa-twitter
            Follow us on twitter at @winvinchurch
    .row
      .col-md-4
        %h2
          the
          minibus
        %p
          Leaving from outside WU and WSA, we'll drop you to church in time for a coffee before the morning service. It's totally free to travel. The minibus service will start on the 19th September: more details to follow.
        %p
          %strong Pickup: Sparkford Road (University)
        %p
          %img.map{:src => "http://maps.googleapis.com/maps/api/staticmap?center=51.0603804,-1.3255774&zoom=16&size=400x300&maptype=roadmap&markers=color:blue%7C51.0603804,-1.3255774&sensor=false"}
        %p
          %strong Pickup: End of Park Avenue (School of Art)
        %p
          %img.map{:src => "http://maps.googleapis.com/maps/api/staticmap?center=51.0656081,-1.3102891&zoom=16&size=400x300&maptype=roadmap&markers=color:blue%7C51.0650081,-1.3105091&sensor=false"}
      .col-md-4
        %h2 freshers fair
        %p
          We will be at Freshers Fair at the University on the 19th September! Look out for our banners and stop by for a little something to get you started :)
        -#%h2 open house
        -#%p
          -#We have free lunches after church each week, open to all students! Just turn up at the Connect Area right after church to come along. These will start at the end of September.
      .col-md-4
        %h2 life group
        %p
          We run a weekly life group for students and 20s each week on a Thursday at 8pm. Get to know other students and learn more about following Jesus. This group is already running: contact
          %a{:href => 'mailto:hello@winvin.org.uk'} the office
          for more details.
        %h2 social events
        %p We're planning loads of social events for the Autumn Term: check this page for more details soon!
        -#%h2 second sunday
        -#%p
          -#Our student and 20s events happen once per month on a Sunday evening. We do game nights, movie nights and pub nights! Check this space for details of our first event in October.
        -#%p
          -#%a.btn.btn-default{:href => 'mailto:hello@winvin.org.uk?subject=I am coming to the next Second Sunday event'} Let us know you're coming &raquo;
