%link{:href => "/images/students-icon.png", :rel => "apple-touch-icon"}
#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section.white.wv-students
  .shadow
  .container
    .row
      .col-xs-12
        %h1 students
    .row
      .col-xs-8
        %p
          If you're going to be studying in Winchester in 2018, you are very welcome! Here are all the different things we've planned for the new year starting in September.
        %p
      .col-xs-4
        %p
          %a{:style => 'text-decoration: none', :href => "https://www.facebook.com/winchestervineyardyas/"}
            %i.fa.fa-facebook
            Join our young adults & students facebook group
          %br
          %a{:style => 'text-decoration: none', :href => "https://www.instagram.com/winvin_yas/"}
            %i.fa.fa-instagram
            Find us on Instagram
          %br
          %a{:style => 'text-decoration: none', :href => "mailto:students@winvin.org.uk"}
            %i.fa.fa-email
            Email us
          %br
    .row
      .col-md-4
        %h2
          minibus
        %img{:src => '/images/photos/areas/students/minibus.jpg'}
        %p
        -#%p
          -#%img.map{:src => "http://maps.googleapis.com/maps/api/staticmap?center=51.0603804,-1.3255774&zoom=16&size=400x300&maptype=roadmap&markers=color:blue%7C51.0603804,-1.3255774&sensor=false"}
        %p
          %strong Pickup: 6:10pm at End of Park Avenue (School of Art)
        -#%p
          -#%img.map{:src => "http://maps.googleapis.com/maps/api/staticmap?center=51.0656081,-1.3102891&zoom=16&size=400x300&maptype=roadmap&markers=color:blue%7C51.0650081,-1.3105091&sensor=false"}
      .col-md-4
        %h2 life groups
        %img{:src => '/images/photos/areas/students/lifegroup.jpg'}
        %p
          We run lots of weekly life groups where you can get to know other people in the church, have lots of fun and learn more about following Jesus. There is a student and young adult group that might be particularly suited to you, but you’re welcome to sign up to any group that you’d like to. 
        %p 
          Student and Young Adult Life group: Thursdays at 7pm at Winchester Vineyard Church, upstairs in the Green Room. We’re kicking the term off with a meal together on Thursday 4th October - come and join us, even if you’re still checking us out!
        %p
          %strong
            %a{:href => 'https://winvin.org.uk/lifegroups'} Sign up today &raquo;

      .col-md-4
        %h2 social events
        %p There are loads of things going on this term - just turn up on a Sunday or check the facebook group for more details:
        .list-group
          .list-group-item Sun 23rd Sep: Student Lunch at 1pm
          .list-group-item Sun 7th Oct: Student Lunch at 1pm
          .list-group-item Sun 14th Oct: Sacred Space at 6:30pm
          .list-group-item Mon 15th Oct: Welcome Meal at 7:45pm
          .list-group-item Sun 11th Nov: Sacred Space at 6:30pm
          .list-group-item Fri 16th - Sat 17th Nov: Cause to Live For conference in Nottingham
