#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section.white.wv-students
  .shadow
  .container
    .row
      .col-xs-12
        %h1 students
    .row
      .col-xs-8
        %p
          If you're going to be studying in Winchester in 2016, you are very welcome! Here are all the different things we've planned for the new year starting in September.
          %strong This page is in the process of being updated for 2016 - check back soon for updates.
        %p
      .col-xs-4
        %p
          %a{:style => 'text-decoration: none', :href => "https://www.facebook.com/groups/626876147422692/"}
            %i.fa.fa-facebook
            Join our students / 20s facebook group
          %br
          %a{:style => 'text-decoration: none', :href => "http://twitter.com/winvinchurch"}
            %i.fa.fa-twitter
            Follow us on twitter at @winvinchurch
    .row
      .col-md-4
        %h2
          the breakfast
        %img{:src => '/images/photos/areas/students/breakfast.jpg'}
        %p
          Come and eat a bacon roll, croissants, toast and jam with us from 9:30 until 10:10 on a Sunday morning! The breakfast is free and anyone is welcome.
        %p Starting in September in the Youth Café at church: just turn up or catch the minibus from your campus.

      .col-md-4
        %h2
          the bus
        %img{:src => '/images/photos/areas/students/minibus.jpg'}
        %p
          Leaving from outside WU and WSA, we'll drop you to church in time for our student breakfast at 9:30am. It's totally free to travel. The minibus service will start on the 13th September - look out for a red Princes Mead minibus!
        %p
          %strong Pickup: 09:10am at Sparkford Road (University)
        %p
          %img.map{:src => "http://maps.googleapis.com/maps/api/staticmap?center=51.0603804,-1.3255774&zoom=16&size=400x300&maptype=roadmap&markers=color:blue%7C51.0603804,-1.3255774&sensor=false"}
        %p
          %strong Pickup: 09:23m at End of Park Avenue (School of Art)
        %p
          %img.map{:src => "http://maps.googleapis.com/maps/api/staticmap?center=51.0656081,-1.3102891&zoom=16&size=400x300&maptype=roadmap&markers=color:blue%7C51.0650081,-1.3105091&sensor=false"}
      .col-md-4
        %h2 life group
        %img{:src => '/images/photos/areas/students/lifegroup.jpg'}
        %p
          We run weekly life groups for students and 20s each week. Get to know other students and learn more about following Jesus. This group is already running: contact
          %a{:href => 'mailto:hello@winvin.org.uk'} the office
          for more details.
      .col-md-4
        %h2 freshers fair
        %p
          We will be at Freshers Fair at the University in September! Look out for our banners and stop by for a little something to get you started :)
        %h2 social events
        %p We're planning loads of social events for the Autumn Term: check this page for more details soon!
