#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section.white
  .shadow
  .container
    .row
      .col-xs-12
        %h1 students
    .row
      .col-xs-8
        %p Welcome to Winchester! We've got a number of events and services lined up to help you settle in.
      .col-xs-4
        %p
          %a{:style => 'text-decoration: none', :href => "http://twitter.com/winvinchurch"}
            %i.fa.fa-twitter
            Follow us on twitter at @winvinchurch
          %br
          %a{:style => 'text-decoration: none', :href => "https://www.facebook.com/pages/Winchester-Vineyard-Church/131929260309690?ref=bookmarks"}
            %i.fa.fa-facebook
            Find us on facebook
    .row
      .col-md-4
        %h2
          the
          minibus
        %p.lead.well
          The minibus is
          %span.event-yes
            RUNNING
          this Sunday 5 October. Your driver is Andrew.
        %p
          Free to travel: look out for a red "Princes Mead" minibus. We'll drop you to church in time to get a coffee before the service.
        %p
          %strong 10:07 - Sparkford Road (University)
        %p
          %img.map{:src => "http://maps.googleapis.com/maps/api/staticmap?center=51.0603804,-1.3255774&zoom=16&size=400x300&maptype=roadmap&markers=color:blue%7C51.0603804,-1.3255774&sensor=false"}
        %p
          %strong 10:20 - Park Avenue (School of Art)
        %p
          %img.map{:src => "http://maps.googleapis.com/maps/api/staticmap?center=51.0656081,-1.3102891&zoom=16&size=400x300&maptype=roadmap&markers=color:blue%7C51.0656081,-1.3102891&sensor=false"}

      .col-md-4
        %h2 student connect
        %p.lead.well
          Student Connect is
          %span.event-yes
            RUNNING
          this Sunday 5 October.
        %p Come and spend 10 minutes with our senior pastors hearing a little about the church and asking them any questions you like. Straight after church in the Connect Area.
        %h2 open house
        %p.lead.well
          Our next after church student lunch is
          %span.event-yes
            12th October.
        %p
          Free to attend: just turn up to church, come along to Student Connect at the end, and we'll direct you.
      .col-md-4
        %h2 second sunday
        %p.lead.well
          The next event is
          %span.event-yes Pub night
          \- 8pm on the 12 October.
        %p
          Venue to be confirmed.
        %p
          %a.btn.btn-default{:href => 'mailto:hello@winvin.org.uk?subject=I am coming to the film night'} Let us know you're coming &raquo;
