#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section.white.wv-students
  .shadow
  .container
    .row
      .col-xs-12
        %h1 students
    .row
      .col-xs-8
        %p
          If you're going to be studying in Winchester in 2017, you are very welcome! Here are all the different things we've planned for the new year starting in September.
        %p
      .col-xs-4
        %p
          %a{:style => 'text-decoration: none', :href => "https://www.facebook.com/groups/626876147422692/"}
            %i.fa.fa-facebook
            Join our students / 20s facebook group
          %a{:style => 'text-decoration: none', :href => "https://www.instagram.com/winvin_s20s/"}
            %i.fa.fa-instagram
            Find us on Instagram
          %br
          %a{:style => 'text-decoration: none', :href => "http://twitter.com/winvinchurch"}
            %i.fa.fa-twitter
            Follow us on twitter at @winvinchurch
    .row
      .col-md-4
        %h2
          minibus
        %img{:src => '/images/photos/areas/students/minibus.jpg'}
        %p
          Leaving from outside WU and WSA, we'll drop you to church in time for our evening service. It's totally free to travel.
          Look out for a red Princes Mead bus!
        %p
          %strong Pickup: 6pm at Sparkford Road (University)
        %p
          %img.map{:src => "http://maps.googleapis.com/maps/api/staticmap?center=51.0603804,-1.3255774&zoom=16&size=400x300&maptype=roadmap&markers=color:blue%7C51.0603804,-1.3255774&sensor=false"}
        %p
          %strong Pickup: 6:10pm at End of Park Avenue (School of Art)
        %p
          %img.map{:src => "http://maps.googleapis.com/maps/api/staticmap?center=51.0656081,-1.3102891&zoom=16&size=400x300&maptype=roadmap&markers=color:blue%7C51.0650081,-1.3105091&sensor=false"}
      .col-md-4
        %h2 life groups
        %img{:src => '/images/photos/areas/students/lifegroup.jpg'}
        %p
          We run lots of weekly life groups where you can get to know other people in the church and learn more about following Jesus. Some are particularly suited to students, but you're welcome to sign up to any that you'd like to go to.
        %p
          %strong
            %a{:href => 'https://winvin.org.uk/lifegroups'} Sign up today &raquo;

      .col-md-4
        %h2 social events
        %p There are loads of things going on this term - just turn up on a Sunday or check the facebook group for more details:
        .list-group
          .list-group-item 1st Oct: Pizza after evening service
          .list-group-item 8th Oct: Pizza after evening service
          .list-group-item 15th Oct: Chips 'n' Dips after evening service
          .list-group-item 22nd Oct: Bonfires and Bacon after evening service
          .list-group-item 5th Nov: Soup and Rolls after evening service
          .list-group-item 10th Nov: Playzone trip
          .list-group-item 12th Nov: Cream teas after evening service
          .list-group-item 19th Nov: Brownies and coffee after evening service
          .list-group-item 26th Nov: Mulled cider and hot dogs after evening service
          .list-group-item 3rd Dec: Nachos and Mocktails after evening service
          .list-group-item 10th Dec: Evening carol service: Mulled wine and mince pies
          .list-group-item 14th Dec: Christmas meal
