%link{:href => "/images/students-icon.png", :rel => "apple-touch-icon"}
#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section.white.wv-students
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          students and young adults
    .row
      .col-xs-12
        %p
          At Winchester Vineyard Church we want to see students and young adults thrive as they live out everyday discipleship in community. Intentionally growing to live and love like Jesus. Pursuing hope and life in their communities.

    .row
      .col-md-6
        %h2 save the dates
        %img{:src => '/images/1_students.png'}
        %p
          •	Thursday 12th September // Prayer Walk around University
        %p
          •	Tuesday 24th September // Student Life Group Launch Party
        %p
          •	Sunday 29th September // Student and Young Adults Lunch
        %p
          •	Sunday 20th October // Student and Young Adults Lunch
        %p
          •	Saturday 9th November // St Cats Walk & Fireworks 
        %p
          •	Sunday 10th November // Student and Young Adults Lunch
        %p
          •	Friday 15th – Sunday 17th November // ‘Cause to Live For’, Student & 20-30’s conference in Nottingham
        %p 
          • Tuesday 10th December // Life Group Christmas Party
        %p  
          •	Thursday 12th December // Student and Young Adults Ice Skating Trip

      .col-md-6
        %h2 life group
        %img{:src => '/images/2_students.png'}
        %p
          The Student and Young Adult Life Group meets every Tuesday evening, 7-9pm, at Winchester Vineyard Church. 
        %p  
          We are a network of small groups that meet for worship, tasty treats and fun together before breaking down into our small groups for bible study and discussion. Each month we have the monthly mix up where we will do things a little differently; guest speakers, worship and prayer evenings, guys and girls nights and more!
        %p  
          We want to be a Jesus centred community of friends that brings life and hope, constantly moving forward and growing. Drawing others in and inviting them to join in the journey of running towards Jesus. This is a place where we can be authentic, honest and open with each other, God and ourselves. A safe place to be encouraged and challenged to grow to become more like Jesus in all areas of our lives, and thrive as the people that God created us to be!
        %p  
          We would love to see you there! 
    .row
      .col-md-6
        %h2 go teams
        %img{:src => '/images/3_students.png'}
        %p
          We are passionate about seeing other people encounter Jesus where they are. For some of us that brings excitement and joy, for others we are filled with dread. Whichever you are, we want to make space to push ourselves out of our comfort zones and try new things. One of these is our new ‘Go Teams’ launching in September. Every other Wednesday afternoon we’ll head into town or campus and have a go at various styles of outreach, such as treasure hunting, Jesus at the Door etc. with the aim of creating intentional opportunities to listen to God and share love and hope with the communities in Winchester.
      
      .col-md-6
        %h2 young adults network
        %img{:src => '/images/4_students.png'}
        %p
          The Student and Young Adult Life Group might not be the optimum place for all of the young adults in our church, so the Young Adult Network aims to keep the 20-30s connected while also releasing them to join other life groups in the church. We have a group WhatsApp that enables us to stay connected, arrange meet ups (both planned and spontaneous) and keep up to date with events happening in the life of the church.  
