// Make carousel fade
// http://stackoverflow.com/questions/9526970/can-the-twitter-bootstrap-carousel-plugin-fade-in-and-out-on-slide-transition

$grassgreen: rgb(232, 228, 64);
$purple: rgb(178, 67, 131);
$red: rgb(200, 7, 45);
$darkgrey: rgb(51, 51, 51);
$seablue: rgb(0, 149, 126);
$skyblue: rgb(121, 196, 198);
$cornyellow: rgb(253, 212, 26);
$lightgrey: rgb(246, 246, 244);

p, .wv-title {
  font-size: 150%;
}

.carousel-inner > .item {
  -webkit-transition: 3s opacity !important;
  transition: 3s opacity !important;

  max-height: 650px;
}

.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}

.carousel .carousel-caption {
  background: url('/images/swatch-black25.png');
  border-radius: 10px;
  margin: 0 3em;

  img {
    width: 75%;
  }

  a {
    color: $cornyellow;

    .wv-down-arrow {
      text-decoration: none;
      color: white;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $cornyellow;
      }
    }
  }
}

.wv-intro {
  padding-top: 70px;

  p {
    padding: 20px 0 10px 0;
    margin: 0;
    font-size: 150%;
    line-height: 1.75em;
  }
}

.wv-areas {
  .thumbnail {
    margin-bottom: 15px;
  }
  img {
    max-height: 168px;
  }
  .caption {
    text-align: center;
  }
}

.shadow {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  height: 14px;
  width: 100%;
  position: absolute;
  top: -14px;
}

footer {
  position: relative;
  margin: 0;
  padding: 70px 0;
  background: #222 url('/images/debut_dark.png');
  color: #ddd;

  a {
    color: #ddd;
  }

  small {
    color: #999;
  }

  img.logo {
    padding-top: 7px;
  }

  img.map {
    border: 10px solid #444;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8)
  }
}

#wv-welcome {
  margin-bottom: 60px;
  position: relative;
}

.progress {
  height: 50px;
  a {
    text-decoration: underline;
    color: white;
  }
  .progress-bar {
    padding: 12px;
    font-size: 125%;
  }
}

.panel {
  a.btn {
    text-decoration: none;
  }
  .panel-heading {
    font-weight: bold;
  }
}

#wv-news {
  position: relative;
  background: url('/images/handmadepaper.png');
  padding: 30px 0 40px 0;
  margin: 0;
  .wv-title {
    font-weight: bold;
  }
  img {
    width: 100%;
    padding: 10px 0;
  }

}

#wv-talks {
  position: relative;
  padding: 30px 0 40px 0;
  margin: 0;
  background: #111 url('/images/photos/borders/talks.jpg') no-repeat right top;
  background-size: 100%;
  .wv-caption {
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6)
  }
  .panel {
    background: url('/images/swatch-black50.png');
    border: 1px solid #444;
    color: white;
  }
}
