$grassgreen: rgb(232, 228, 64);
$purple: rgb(178, 67, 131);
$red: rgb(200, 7, 44);
$darkgrey: rgb(35, 35, 36);
$blue: rgb(27, 92, 160);
$seablue: rgb(0, 149, 126);
$skyblue: rgb(121, 196, 198);
$cornyellow: rgb(253, 213, 48);
$lightgrey: rgb(246, 246, 244);

@mixin shadow-iframe {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}

@mixin section-padding {
  padding: 80px 0 40px 0;
  margin: 0;
}

@mixin panel-photo-background {
  .panel {
    background: url('/images/swatch-black50.png');
    border: 1px solid #444;
    color: white;
    .panel-heading {
      background: transparent;
      border: 0;
      font-size: 1.2em;
    }
    .panel-footer {
      background: transparent;
      border: 0px;
      .wv-wherewhen a {
        color: white;
      }
    }
  }
}

body {
  background: #333 no-repeat center 50px;
  background-size: cover;
  background-attachment: fixed;
}

a.btn {
  text-decoration: none;
}

p, .wv-title {
  font-size: 150%;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.navbar-header {
  padding-right: 5px
}

.navbar-right {
  margin-top: 3px;
  margin-right: 10px;
}

.carousel {
  margin-top: 50px;
}

// Make carousel fade
// http://stackoverflow.com/questions/9526970/can-the-twitter-bootstrap-carousel-plugin-fade-in-and-out-on-slide-transition
.carousel-inner > .item {
  -webkit-transition: 3s opacity !important;
  transition: 3s opacity !important;

  max-height: 600px;
}

.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}

.carousel .carousel-caption {
  background: url('/images/swatch-black50.png');
  margin: 0 0em;
  padding: 30px;

  text-align: left;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 60%;
  
  @media (max-width: 640px) {
    font-size: 80%;
  }

  @media (max-width: 520px) {
    .caption-directions { display: none; }
    font-size: 70%;
  }

  @media (max-width: 450px) {
    font-size: 50%;
  }

  p.caption-title {
    @media (min-width: 1200px) { font-size: 250%; }
    @media (min-width: 1020px) and (max-width: 1199px) { font-size: 200%; }
    @media (max-width: 1019px) { font-size: 150%; }
    @media (max-width: 888px) { font-size: 150%; }
  }

  a {
    color: $cornyellow;

    .wv-down-arrow {
      color: white;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $cornyellow;
      }
    }
  }
}

section {
  position: relative;
}

.wv-intro {
  p {
    padding: 20px 0 10px 0;
    margin: 0;
    font-size: 150%;
    line-height: 1.75em;
  }
}

.wv-areas {
  a {
    color: black;
    .thumbnail {
      margin-bottom: 15px;
    }
  }
  img {
    max-height: 168px;
  }
  .caption {
    font-size: 150%;
    text-align: center;
  }
}

img.team {
  width: 100%;
}

.shadow {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  height: 14px;
  width: 100%;
  position: absolute;
  top: -15px;
}

footer {
  position: relative;
  margin: 0;
  padding: 50px 0;
  background: #222 url('/images/debut_dark.png');
  color: #ddd;

  a {
    color: #ddd;
    text-decoration: underline;
  }

  small {
    color: #999;
  }

  img.logo {
    padding-top: 7px;
  }

  img.map {
    border: 10px solid #444;
  }
}

img.map {
  width: 100%;
  border: 10px solid white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8)
}

section.white {
  @include section-padding;
  background: white;
  color: $darkgrey;
}

.event-yes {
  font-weight: bold;
  color: #0a0;
}

.event-no {
  font-weight: bold;
  color: #a00;
}

#wv-sundays {
  @include section-padding;
  background: white;
  img {
    width: 100%;
    margin-bottom: 10px;
  }
}

#wv-welcome {
  @include section-padding;
  margin-bottom: 0px;
  background: white;
}

.panel {
  a.btn {
    text-decoration: none;
  }
  .panel-heading {
    font-weight: bold;
  }
}

.wv-caption {
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6)
}

#wv-community {
  background: white;
  margin: 0;
  padding-bottom: 20px;
  @include section-padding;
  @media (min-width: 992px) {
    iframe {
      @include shadow-iframe;
      margin: 15px 0px 25px 0px;
    }
  }

  img {
    width: 100%;
    margin-bottom: 10px;
  }
}

p.quote {
  background: $blue;
  color: white;
  font-size: 1.5em;
  padding: 20px;
  border-radius: 10px;
}

#wv-compassion, #wv-team {
  @include section-padding;
  background: white;

  img {
    width: 100%;
    margin-bottom: 10px;
  }
}

#wv-growing {
  @include section-padding;
  @include panel-photo-background;
  color: white;

  a { color: $grassgreen; }
}

#wv-news {
  @include section-padding;
  @include panel-photo-background;
  margin: 0;
  color: white;
  .wv-title {
    font-weight: bold;
  }
  img {
    width: 100%;
    padding: 10px 0;
  }

}

#wv-talks {
  @include section-padding;
  margin: 0;
  @include panel-photo-background;
}

#wv-story {
  @include section-padding;
  margin: 0;
  background: white;
}

