#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section.white.wv-storehouse
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          Coronavirus
      .row
      .col-xs-12
        %p Page last updated: 24/03/2020
        %p As the coronavirus pandemic continues to spread and the government guidance becomes stricter we have responded in many different ways.
        %p
        %h2 sundays
        %p 
          Throughout this season we are not pysically meeting but instead are hosting a Sunday livestream - featuring worship and a talk. You can tune in live every Sunday morning at 10:30 on our facebook page at
          %a{:href => 'https://www.facebook.com/winchestervineyardchurch/'} facebook.com/winchestervineyardchurch
          where you will be able to comment and engage live. If you are not able to watch on facebook you can also tune in live at
          %a{:href => 'http://www.winvin.org.uk/live/'} winvin.org.uk/live. 
          We'd love to see you there!
          
          Our latest livestream is available to watch here:
          <iframe width="100%" height="720" src="https://www.youtube.com/embed/0dqcWOK_jL4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
          %br
          Nigel suggested these are some ways we could respond:
          %br
          Worship: 
          %a{:href => 'https://www.youtube.com/watch?v=Zp4wJ12L3qo'} I Life My Eyes Up (Psalm 121) 
          %br
          Prayer: 
          %a{:href => 'https://www.youtube.com/watch?v=bHnSSmF0HQc'} The Daily Examen (with Dan Wilt)
          %br
          Action: 
          %a{:href => 'https://www.vineyardchurches.org.uk/resources/viral-kindness/'} Viral Kindness (postcards)
          %br
          NLC Talk: 
          %a{:href => 'https://www.vineyardchurches.org.uk/resources/becoming-a-non-anxious-presence/'} Becoming a Non-Anxious Presence (John Mark Comer)
        %h2 storehouse
        %p 
          If you are in need of food or childrens clothing at this time, or you are able to donate food or time to help the storehouse - all the relevant information about the storehouse is available 
          %a{:href => '../storehouse'} here. 
          %br
          %br
          Items we need in particular: Sugar, Baked Beans, tinned Spaghetti or Spaghetti Hoops, Pasta & Rice of any sort, Shampoo, Shower Gel, Washing tablets/liquid, Loo Rolls!
        %h2 youth
        %p
          We believe it is so important that our young people stay connected and engaged through this difficult, unprecedented season. We are meeting on zoom twice a week - Sundays at 11:30am and Thursdays at 7pm. We also have an instagram group chat! All of this information has been emailled to parents - if you have any questions please email
          %a{:href => 'mailto:chrisb@winvin.org.uk'} chrisb@winvin.org.uk
        %h2 lifegroups
        %p
          Our lifegroups are also not physically meeting at the moment, but they are meeting digitally! The majority of our groups have moved to a video based lifegroup session - it's a great way to connect with others in this tough season. If you are already in a lifegroup you should have heard or will soon hear from your lifegroup leader as to what their plans are. If you are not in a group, you can still join one! Check out our lifegroup list
          %a{:href => '../lifegroups'} here!
