#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section.white.wv-storehouse
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          Coronavirus
      .row
      .col-xs-12
        %p As the coronavirus pandemic continues to spread and the government guidance becomes stricter we have responded in many different ways.
        %p
        %h2 sundays
        %p Throughout this season we are not pysically meeting but instead are hosting a Sunday livestream. You can tune in live every Sunday morning at 10:30 on our facebook page at.
        %p
          %a{:href => 'https://www.facebook.com/winchestervineyardchurch/'} facebook.com/winchestervineyardchurch
        %p where you will be able to comment and engage live. If you are not able to watch on facebook you can also tune in live at
        %p
          %a{:href => 'http://www.winvin.org.uk/live/'} winvin.org.uk/live.
        %p We'd love to see you there!
        %h2 storehouse
        %p If you are in need of food or childrens clothing at this time, or you are able to donate food or time to help the storehouse - all the relevant information is available 
        %p
          %a{:href => '../storehouse'} here. 
        %p We will add you to our standby list. You can also help by;
        %h2 youth
        %p
          We believe it is so important that our young people stay connected and engaged through this difficult, unprecedented season. We are meeting on zoom twice a week - Sundays at 11:30am and Thursdays at 7pm. We also have an instagram group chat! All of this information has been emailled to parents - if you have any questions please email
          %a{:href => 'mailto:chrisb@winvin.org.uk'} chrisb@winvin.org.uk
