f#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section#wv-donate.white
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          year of biblical literacy
    .row
      .col-xs-12
        %p
          In our Year of Biblical Literacy we want to encourage you to engage thoughtfully with the Bible in personal & communal environments and to  give you practical tools to help you grow in the practice of reading the bible.
        %p
          We hope this will help you to grasp the overarching narrative sweep of the whole bible, gain confidence in the bible’s teaching and understand that the whole bible is inspired, God breathed & useful.
        %p
          All Scripture is God-breathed and is useful for teaching, rebuking, correcting and training in righteousness, so that the servant of God may be thoroughly equipped for every good work.  (2 Tim 3:16-17)

    .row
      .col-md-6
        %h2 personal
        %img{:src => '/images/yobl1.jpg'}
        %p
          We are encouraged to get into the habit of daily reading.  There are several plans and apps available, but the
          %a{:href => 'http://www.readscripture.org'} 'Read Scripture' app
          includes lots of brilliant animated videos from 'The Bible Project'
      .col-md-6
        %h2 group
        %img{:src => '/images/yobl2.jpg'}
        %p
          We are encouraged to spend time in small groups discussing what we are reading. These could be Life Groups, or other informal study groups or huddles.  
        %p  
          We will be encouraging people to use the Discovery Bible Study (DBS) technique which many people are already trained in, and providing material to reinforce current Sunday themes. 
    .row
      .col-md-6
        %h2 sunday talks
        %img{:src => '/images/yobl3.jpg'}
        %p
          Our sermon series will lead us through various bible themes, and focus in on particular books in more detail. Initially we will be focusing on The Authority of the Bible and The Big Story of the Bible.  Other themes in 2019 will include; The Story of God, The Symbols of Christ, The God I don’t understand, The Prophet.  The school of God, in depth studies on one Old Testament & one New Testament book. 
        %p
          %a{:href => 'https://winvin.churchsuite.co.uk/donate/fund/wirfrpz3'} Listen to YOBL Sunday talks &raquo;
      .col-md-6
        %h2 lectures
        %img{:src => '/images/yobl4.jpg'}
        %p
          For those who want to, there will be some more in depth theology talks with guest speakers from time to time, and one or two Vineyard Institute (VI) groups working through specific theology modules within a small learning community. 
