f#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section#wv-donate.white
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          year of biblical literacy
    .row
      .col-xs-12
        %p
          We believe that that the Bible is a really important book. It’s vital to help us get to know Jesus better, but it can sometimes be challenging to read and understand. Throughout 2019, we are learning to engage thoughtfully with the Bible through reading it personally and as we gather together. We want to grasp the overarching story of the whole Bible as well as to work out how to understand it better and apply it to our lives.
        %p
          If you are not a regular Bible reader or just aren’t keen on reading, don’t worry! There are tools to help you. What we are setting out to do is a big task but doing it together will help!
        %p
          "All Scripture is God-breathed and is useful for teaching, rebuking, correcting and training in righteousness, so that the servant of God may be thoroughly equipped for every good work." - 2 Tim 3:16-17. John Wimber, the founder of the Vineyard Movement said “Its not just about being Biblically literate, we must also become biblically obedient."
        %p
          The YOBL has four seperate layers:

    .row
          
          
        .col-md-6
          %h2 sundays
          %img{:src => '/images/CBE860FF-C03E-4D10-B440-4F2D7C8EE994.jpeg'}
          %p
           The Sunday layer is about experiencing the Bible as part of our Sunday worship.
          %p
            Our teaching series over the coming year will loosely follow the READ SCRIPTURE plan, focussing on certain books and reflecting particular themes.  Our aim is to explore the story of God through parts of the Bible that are often overlooked, taken out of context, or dismissed. 
         = haml :_talklist, locals: { talks: @talks }
         %p
            Series coming up in 2019 include: The Good Book (An intro to the bible & authority), The Big Story of God (an overview of the whole bible), Symbols of Christ, Understanding the Old Testament: Violence, Sex, Judgement & Evil, The School of Life (Book of Job), Song of Solomon, Thriving in Exile (Book of Daniel), The Character of Jesus, Love & Unity (Ephesians), Leadership in the Church (Timothy), Faith in Practise (James).
         %p
           If you miss a talk you can catch up with the 
            %a{:href => 'http://winvin.org.uk/#wv-talks'} podcast online.   
          
      .col-md-6
        %h2 life group
        %img{:src => '/images/yobl2.jpg'}
        %p
          The Life Group layer is about experiencing the Bible together in a small group. 
        %p  
          The Bible is a communal book. It was meant to be read and discussed in community with others. We want to encourage you to do this in your Life Group or in a small study group with 3 or 4 friends - to help distill a week’s reading into a time of connection, prayer, and discussion with others who are also going through YOBL. 
        %p  
          These groups are to share, grow and pray together as you study the Bible and develop deeper connections with Jesus and one another. We will be providing study materials to support the Sunday YOBL teaching and themes.
        %p
          A helpful Bible study resource that you might like to use is the Discovery Bible Study (DBS) technique which you might be familiar with already. You can follow or
          %a{:href => 'http://www.dbsguide.org'} download a DBS guide here.
          
    .row
     
     
      .col-md-6
        %h2 personal
        %img{:src => '/images/yobl1.jpg'}
        %p
          The personal layer is about committing to read the Bible every day and opening your heart and mind to God so He can meet you through it.
        %p 
          We recommend the READ SCRIPTURE plan, which allocates a few chapters to read each day. If you follow this you will get though the whole Bible in the year. However, the point is NOT to rush through so you can say you finished in a year, but actually to think about, understand and apply what you are reading. If this means taking it slower (or faster) than the reading plan suggests, please feel totally free to do so.  If you miss the start of the year, don’t worry - just start when and where you can. 
        %p
          READ SCRIPTURE APP
        %p
          This plan usually consists of reading a few chapters of a given book of the Bible + 1 Psalm each day. Most of the daily readings take 20-30 minutes to finish.  Some people might prefer to break up their reading throughout the day, reading one chapter in the morning and one chapter in the evening. It is important to find the pace that works best for you given your schedule, commitments and the natural limitations of your life. If you can’t manage this plan, there are some other options available below.
        %p
          Download the 
          %a{:href => 'http://www.readscripture.org'} Read Scripture App here
        %p
          If you would prefer to follow this programme without using the app, you can download the 
          %a{:href => 'https://drive.google.com/file/d/1M0vUIICK5Kd4Lwsk4q2JeCa_cMtvE2NU/view?usp=sharing'} Reading Plan here
        %p 
          READ SCRIPTURE VIDEOS
        %p
          The Bible Project has created beautifully illustrated introduction videos for every book in the Bible as well as for some of the major biblical themes. These videos give an overview of the book, some of its historical context, and what to look for or notice while you’re reading. They are meant as both an introduction and also a reference to supplement your reading.  
        %p 
          In some ways, the Read Scripture videos are the easiest part of YOBL to incorporate and keep up within your day to day life.  They are incorporated into the Read Scripture app and also available to 
          %a{:href => 'https://thebibleproject.com/all-videos/'} view online here.
        %p
          OTHER APPS AND PLANS
        %p
          BIBLE IN ONE YEAR - As an alternative to the Read Scripture app, BIOY has a ‘through the bible’ plan which includes commentary by Nicky Gumbel (of the Alpha Course).  This app has an audio option so you can listen to it instead of reading it. 
          %a{:href => 'https://www.bibleinoneyear.org'} Download here
        %p 
          BIBLE STUDY TOOLS - This website has a variety of reading plans to work through online with various themes and timescales available.
          %a{:href => 'https://www.biblestudytools.com/bible-reading-plan/'} Visit website
        %p 
          YOU VERSION - You Version also has a popular bible app which also has a variety of reading plans available based on different themes & timescales.
          %a{:href => 'http://www.youversion.com/products/'} Download here
          
      .col-md-6
        %h2 going deeper
        %img{:src => '/images/yobl4.jpg'}
        %p
          For those who want to go a little deeper, we’ll be hosting a more in-depth theology talks with guest experts from time to time through 2019.
        %p
          We are also exploring the possibility of running study groups to work through specific Vineyard Institute (VI) theology modules. 
