f#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section#wv-donate.white
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          year of biblical literacy
    .row
      .col-xs-12
        %p
          As Christians, we believe that that the Bible is a really important book. It’s vital to help us get to know Jesus better, but it can sometimes be challenging to read and understand.
        %p
          Throughout 2019, we are learning to engage thoughtfully with the Bible through reading it personally and as we gather together. We want to grasp the overarching story of the whole Bible as well as to work out how to understand it better and apply it to our lives.
        %p
          If you are not a regular Bible reader or just aren’t keen on reading, don’t worry! There are tools to help you. What we are setting out to do is a big task but doing it together will help!
        %p
        %i
          All Scripture is God-breathed and is useful for teaching, rebuking, correcting and training in righteousness, so that the servant of God may be thoroughly equipped for every good work. - 2 Tim 3:16-17 
        %p  
          John Wimber, the founder of the Vineyard Movement said “Its not just about being Biblically literate, we must also become biblically obedient."
        %p
        The YOBL has four seperate layers: Personal, Life Group, Sundays, Going Deeper

    .row
      .col-md-6
        %h2 personal
        %img{:src => '/images/yobl1.jpg'}
        %p
          The personal layer is about committing to read the Bible every day and opening your heart and mind to God so He can meet you through it.
        %p 
          We recommend the READ SCRIPTURE plan, which allocates a few chapters to read each day. If you follow this you will get though the whole Bible in the year. However, the point is NOT to rush through so you can say you finished in a year, but actually to think about, understand and apply what you are reading. If this means taking it slower (or faster) than the reading plan suggests, please feel totally free to do so.  If you miss the start of the year, don’t worry - just start when and where you can. 
        %p
          READ SCRIPTURE APP
        %p
          This plan usually consists of reading a few chapters of a given book of the Bible + 1 Psalm each day. Most of the daily readings take 20-30 minutes to finish.  Some people might prefer to break up their reading throughout the day, reading one chapter in the morning and one chapter in the evening. It is important to find the pace that works best for you given your schedule, commitments and the natural limitations of your life. If you can’t manage this plan, there are some other options available below.
        %p
          Download the %a{:href => 'http://www.readscripture.org'} Read Scripture App here &raquo;
        %p
          If you would prefer to follow this programme without using the app, you can download the %a{:href => 'https://drive.google.com/file/d/1M0vUIICK5Kd4Lwsk4q2JeCa_cMtvE2NU/view?usp=sharing'} Reading Plan here &raquo;

          
      .col-md-6
        %h2 life group
        %img{:src => '/images/yobl2.jpg'}
        %p
          The communal layer is about experiencing Scripture together.
        %p  
          We want to encourage you to do this in your life group or in a small study group with 3 or 4 friends - to help distill a week’s reading into a time of connection, prayer, and discussion with others. 
        %p  
          These groups are to share, grow and pray together as you study the Bible and develop deeper connections with Jesus and with each other.
        %p
          A helpful Bible study resource that you might like to use is the 
          %a{:href => 'http://www.dbsguide.org'} Discovery Bible Study 
          technique which you might be familiar with already. 
        %p
          Life Group study materials for the year can be 
          %a{:href => 'http://bible.realitysf.com/small-group-material'} found here.
    .row
      .col-md-6
        %h2 worshipful
        %img{:src => '/images/CBE860FF-C03E-4D10-B440-4F2D7C8EE994.jpeg'}
        %p
          The worshipful layer is about experiencing God in Scripture and worship on a Sunday.
        %p
          Our Sunday teachings over the coming year will compliment the daily reading plan. By doing this, we hope to be able to provide everyone with greater context to the story of God in parts of the Bible that are often overlooked, taken out of context, or dismissed.
        %p
          %a{:href => '../#wv-talks'} Listen to YOBL Sunday talks &raquo;
      .col-md-6
        %h2 going deeper
        %img{:src => '/images/yobl4.jpg'}
        %p
          For those who want to, there will be some more in depth theology talks with guest speakers from time to time, and one or two Vineyard Institute (VI) groups working through specific theology modules within a small learning community.
