f#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section#wv-donate.white
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          year of biblical literacy
    .row
      .col-xs-12
        %p
          In our Year of Biblical Literacy we want to encourage you to engage thoughtfully with the Bible in personal & communal environments and to  give you practical tools to help you grow in the practice of reading the Bible.
        %p
          We hope this will help you to grasp the overarching narrative sweep of the whole Bible, gain confidence in the Bible’s teaching and understand that the whole Bible is inspired, God breathed & useful.
        %p
        %i
          All Scripture is God-breathed and is useful for teaching, rebuking, correcting and training in righteousness, so that the servant of God may be thoroughly equipped for every good work. - 2 Tim 3:16-17 

    .row
      .col-md-6
        %h2 personal
        %img{:src => '/images/yobl1.jpg'}
        %p
          The personal layer is about learning the Scriptures through a daily commitment to opening your heart and mind to God through the spiritual discipline of Bible reading. 
        %p 
          You can take this journey at your own pace but we would really encourage you to try to engage on a daily basis over this year, as we learn and grow together. 
        %p
          Below is a helpful Reading Plan, a Read Scripture App, and some beautiful videos to help you engage and go deeper each day. 
        %p
          %a{:href => 'http://bible.realitysf.com/assets/uploads/library/The-Bible-Project-Read-Scripture-Reading-Plan-Year_Final.pdf'} Reading Plan &raquo;
        %p
          %a{:href => 'http://www.readscripture.org'} Read Scripture App &raquo;
        %p
          %a{:href => 'http://bible.realitysf.com/read-scripture-videos'} Read Scripture Videos &raquo;

          
      .col-md-6
        %h2 communal
        %img{:src => '/images/yobl2.jpg'}
        %p
          The communal layer is about experiencing Scripture together.
        %p  
          We want to encourage you to do this in your life group or in a small study group with 3 or 4 friends - to help distill a week’s reading into a time of connection, prayer, and discussion with others. 
        %p  
          These groups are to share, grow and pray together as you study the Bible and develop deeper connections with Jesus and with each other.
        %p
          A helpful Bible study resource that you might like to use is the 
          %a{:href => 'http://www.dbsguide.org'} Discovery Bible Study 
          technique which you might be familiar with already. 
        %p
          Life Group study materials for the year can be 
          %a{:href => 'http://bible.realitysf.com/small-group-material'} found here.
    .row
      .col-md-6
        %h2 worshipful
        %img{:src => '/images/CBE860FF-C03E-4D10-B440-4F2D7C8EE994.jpeg'}
        %p
          The worshipful layer is about experiencing God in Scripture and worship on a Sunday.
        %p
          Our Sunday teachings over the coming year will compliment the daily reading plan. By doing this, we hope to be able to provide everyone with greater context to the story of God in parts of the Bible that are often overlooked, taken out of context, or dismissed.
        %p
          %a{:href => '../#wv-talks'} Listen to YOBL Sunday talks &raquo;
      .col-md-6
        %h2 going deeper
        %img{:src => '/images/yobl4.jpg'}
        %p
          For those who want to, there will be some more in depth theology talks with guest speakers from time to time, and one or two Vineyard Institute (VI) groups working through specific theology modules within a small learning community.
