#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/'} &laquo; Back to home

%section#wv-donate.white
  .shadow
  .container
    .row
      .col-xs-12
        %h1
          year of biblical literacy
    .row
      .col-xs-12
        %p
          We believe that that the Bible is a really important book. It’s vital to help us get to know Jesus better, but it can sometimes be challenging to read and understand. Throughout 2019, we are learning to engage thoughtfully with the Bible through reading it personally and as we gather together. We want to grasp the overarching story of the whole Bible as well as to work out how to understand it better and apply it to our lives.
        %p
          If you are not a regular Bible reader or just aren’t keen on reading, don’t worry! There are tools to help you. What we are setting out to do is a big task but doing it together will help!
        %p
          "All Scripture is God-breathed and is useful for teaching, rebuking, correcting and training in righteousness, so that the servant of God may be thoroughly equipped for every good work." - 2 Tim 3:16-17. John Wimber, the founder of the Vineyard Movement said “Its not just about being Biblically literate, we must also become biblically obedient."
        %p
          The YOBL has four seperate layers:

    .row
      .col-md-6
        %h2 sundays
        %img{:src => '/images/CBE860FF-C03E-4D10-B440-4F2D7C8EE994.jpeg'}
        %p
          The Sunday layer is about experiencing the Bible as part of our Sunday worship 
        %p 
          Our teaching series over the coming year will loosely follow the READ SCRIPTURE plan, focussing on certain books and reflecting particular themes.  Our aim is to explore the story of God through parts of the Bible that are often overlooked, taken out of context, or dismissed. 
        %p 
          Series coming up in 2019 include: The Good Book (An intro to the bible & authority), The Big Story of God (an overview of the whole bible), Symbols of Christ, Understanding the Old Testament: Violence, Sex, Judgement & Evil, The School of Life (Book of Job), Song of Solomon, Thriving in Exile (Book of Daniel), The Character of Jesus, Love & Unity (Ephesians), Leadership in the Church (Timothy), Faith in Practise (James).
        %p
          If you miss a talk you can catch up with the 
          %a{:href => 'http://winvin.org.uk/#wv-talks'} podcast online. &raquo;
      .col-md-6
        %h2 global partners
        %img{:src => '/images/global3.jpg'}
        %p
          We support five different Global Partners in their work to help people around the World. Click on the links below to find out more and give to our partners.
        %p
          %a{:href => 'https://winvin.churchsuite.co.uk/donate/fund/mxxdoqfc'} Shores of Grace &raquo;
        %p
          %a{:href => 'https://winvin.churchsuite.co.uk/donate/fund/1eamwhqt'} Outreach to Muslims &raquo;
        %p
          %a{:href => 'https://winvin.churchsuite.co.uk/donate/fund/k2qlsgk1'} Karis Kids &raquo;
        %p
          %a{:href => 'https://winvin.churchsuite.co.uk/donate/fund/lktd68zd'} Romania &raquo;
        %p
          %a{:href => 'https://www.globalgiving.org/projects/farming-health-communities-pamirs-tajikistan/'} Operation Mercy &raquo;
    .row
      .col-md-6
        %h2 hardship fund
        %img{:src => '/images/hardship1.jpg'}
        %p
          We want to support people in our community who are struggling and under specific financial strain. 
        %p  
          When people come to us in financial crisis we will assess their needs and use this fund to alleviate their immediate trouble, while we work towards long-term solutions to help them.
        %p
          %a{:href => 'https://winvin.churchsuite.co.uk/donate/fund/wirfrpz3'} Give to the Hardship Fund &raquo;
      .col-md-6
        %h2 building fund
        %img{:src => '/images/buildingfund4.jpeg'}
        %p
          Our building provides the space for all of our ministry to take place. 
        %p 
          We appreciate any funds we receive to improve how we can use the venue to benefit the church and the wider community.
        %p
          %a{:href => 'https://winvin.churchsuite.co.uk/donate/fund/0p1cx7l0'} Give to the Building Fund &raquo;
